<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Hom<span>ozon</span></h1>
                    <h2>For improved cellular oxygen.</h2>
                    <div class="thumbnail" data-toggle="modal" data-target="#product_label">
                        <img src="homozon.jpg" alt="Homozon" />
                    </div>

                    <div class="modal fade" id="product_label" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Homozon Label</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="thumbnail">
                                        <img src="homozon_label.jpeg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p>
                      <strong>Retail</strong> $60.00
                    </p>

                    <p class="alert alert-info">
                      To be determined
                    </p>

                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer">
                    </div>
                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->
                <p>
                    Oxygen is the most important element of life. We find this life giving element as molecular oxygen in the air. A healthy body can inhale and transport enough oxygen to maintain itself in good repair.
                </p>
                <p>
                    But due to an ever increasing lack of, destruction of, and polluting of, the oxygen (as well as food and water) in our environment, we see disease and suffering on the increase. <b>An ailing body often can not make use of oxygen efficiently</b>                    through inhaling either normally or artificially because in most cases the necessary biological carriers (minerals, nutrients, blood factors) for it are lacking. Subsequently the oxidation process falls short and <b>acute, chronic, and incurable ills
                    result</b>. Fasting would allow the oxidation of disease matter, but fasting is limited as molecular oxygen cannot oxidize quickly enough to eliminate all disease causing impurities or foreign matter (toxins).
                </p>
                <p>
                    <b>Homozon to the rescue</b>....It is a compound of magnesium and Oxygen in which the magnesium atoms form a loose lattice onto which much Oxygen is bonded by catalytic process. When Homozon is taken Oxygen is release inside the digestive
                    tract, producing many benefits.
                </p>
                <p>
                    Homozon provides Oxygen to the body in the form of Nascent (born free, available, active Oxygen or "O1" Singlet Oxygen. Nascent Oxygen is Oxygen in its most chemically active , born free and available form, and is the only form of Oxygen the body uses.
                    Homozon has a positive and gentle effect to loosen the bowels.
                </p>

                <!-- End Product Description -->
            </div>



        </div>
        Video
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/uJ5yecZ0gD4" frameborder="0" allowfullscreen></iframe>
        </div>
        <br />
        <p>
            Watch <a href="http://www.veoh.com/browse/videos/category/educational_and_howto/watch/v191657924byQxcTk"> Flood Your Body With Oxygen by Ed McCabe</a> in <a href="http://www.veoh.com/browse/videos/category/educational_and_howto">Educational &amp; How-To</a>            | View More <a href="http://www.veoh.com/">Free Videos Online at Veoh.com</a>
        </p>

        <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
          "route_pageurl" : "homozon"
        </div>

    </div>
</div>

<script>
    $(function() {

        initPage();

    })
</script>
