/**
 |---------------------------------
 | Title
 |---------------------------------
 |
 | Description
 |
 | @author Felipe Tadeo
 */

@font-face{
  font-family: GaramondBold;
  src : url(/public/assets/fonts/AGaramondPro-Bold.otf);
  font-weight: bold;
}
