<div class="form_footer">
    <br />
    <!-- Credit Card Icons -->
    <div class="thumbnail">
        <img src="/public/assets/img/credit-cards.png" alt="We Accept most major credit cards" />
    </div>
    <div class="row">
        <div class="col-xs-6">
            <!-- Need to test this on live website -->
            <div class="thumbnail">
                <img src="/public/assets/img/authorize_net.png" />
            </div>
        </div>
        <div class="col-xs-6">
            <div class="thumbnail" style="padding: 15px;">
                <img src="/public/assets/img/paypal.png" />
            </div>
        </div>
    </div>

    <p>
      Shopping Cart By: <a data-route data-route-name="asecurecart">www.asecurecart.net</a>
    </p>

</div>
