<!--
### Default form template for form_service with enzyme option
This form contains the free enzyme option.
Form service requires a {{hidden_input}} variable to be set.
-->

<div align="center">
    <form method="post" action="http://www.asecurecart.net/server/cart.aspx/healthsprings">

      <!-- This is where all the hidden inputs will go -->
      <input type="hidden" value="{{route_redirectLink}}" name="RedirectLink" />

      {{inputs_hidden}}

        <br>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">Qty.</div>
            <input type="tel" name="Qty" size="3" value="1" class="form-control text-center">
          </div>
        </div>

        <div class="checkbox">
            <label>
            <input type="checkbox" Name="AddOn1" Value="Free Dr Wongs Enzyme Therapy CD">
            Free Enzyme CD
          </label>
        </div>

        <button type="submit" class="btn btn-primary btn-block btn-lg"> <i class="fa fa-cart-plus" aria-hidden="true"></i> Add This To Cart</button>
    </form>
</div>

<div data-partial id="share_wrapper" data-partial-name="widget_share" data-partial-values class="padding-top">
  "route_url" : "THIS_URL"
</div>
<script>
$(function(){
  initPage();
})
</script>
