<div class="panel-heading" role="tab" id="headingFour">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Detoxification
        </a>
      </h4>
</div>
<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
        <p>
            Systemic enzymes may help rid the body of toxins. Some users will experience a detoxification reaction to the enzymes, including short-term fatigue, nausea, fogginess, or headache. Though uncomfortable, this detoxification is beneficial to the body. Increased
            water intake can assist in the process, or reduced enzyme dosage will slow the rate of detoxification. If symptoms persist, contact your healthcare professional.*
        </p>
    </div>
</div>
