<div class="panel-heading" role="tab" id="headingEleven">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          Dosage
        </a>
      </h4>
</div>
<div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
    <div class="panel-body">
        <p>
            <strong>Dosage</strong>
        </p>
        <p>
            This dosage recommendation is for most users. The dosage recommended by your healthcare professional may differ. As a dietary supplement, take 3 capsules daily with water. Your healthcare professional may also recommend a higher activation dosage.
        </p>
        <p class="alert alert-warning">
            <strong>Warning:</strong> If you are currently taking prescription drugs, consult your healthcare professional prior to use.
        </p>
    </div>
</div>
