<div class="panel-heading" role="tab" id="headingEight">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Enteric Coated
        </a>
      </h4>
</div>
<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
    <div class="panel-body">
        <p>
            <strong>Enteric Coated enzymes is very important.</strong>
        </p>
        <p>
            The effectiveness of any systemic enzyme is determined by the amount of activity level in the bloodstream after the enzyme has been absorbed from the small intestine. Enzymes, whose activity is significantly reduced in an acidic environment, must be protected
            from it for their utmost effectiveness. Enzymes will begin to lose their activity once introduced into the low pH (1.0-3.0) acids of the stomach. The amount of activity loss is dependent upon the individual enzyme and the amount of time it
            spends in the stomach.
        </p>
        <p>
            <u>Studies have shown</u> that unprotected enzymes can lose up to 100% of their activity in fewer than 30 minutes in pH levels below 3.0. The only reliable method of ensuring that 100% of the enzymes are not destroyed by the stomach acids
            is to enteric-coat the enzymes.
        </p>
        <p>
            Vitalzym has been reformulated to use an enteric coated gel capsule manufactured under pharmaceutical-grade guidelines.
        </p>
        <p>
            Though revolutionary to nutritional enzyme blends, this enteric coating process is similar to that used in todays most advanced products. The capsule has an all-natural shell barrier that allows it to withstand the extremely low pH levels found in the
            stomach. Once introduced to the pancreatic juices in the duodenum (upper small intestine), the shell barrier breaks down to release the enzymes it contains. <u>The enzymes are then absorbed into the bloodstream</u> through the
            lining of the small intestine.
        </p>
        <p>
            The new enteric coated gel capsule has been designed to pass both the USP (United States Pharmacopeia) and JP (Japan Pharmacopeia) disintegration tests for enteric coated capsules.
        </p>
        <p>
            Every batch is tested to ensure it meets the agency guidelines before exportation to the U.S.
        </p>
    </div>
</div>
