<div class="panel-heading" role="tab" id="headingSeven">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          FAQ on Enzymes
        </a>
      </h4>
</div>
<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
    <div class="panel-body">
        <h3>Frequently Asked Questions:</h3>
        <p>
            <u>What are enzymes?</u> Enzymes are found in every cell of every living plant and animal, including humans. Enzymes are biocatalysts; which means that they either begin a reaction or cause a reaction to speed up. Without enzymes life would
            not exist. How do enzymes work? Enzymes work by virtue of their shape. An enzyme molecule can be compared, in shape at least, to many short strings of pearls (amino acids) strung together. This long string folds in on itself as certain sequences
            of amino acids (pearls) are more attracted to each other than to other sequences, thus giving the enzymes a specific shape. At one point on the surface of this string of pearls there exists something, which looks like a keyhole. This is called
            the "active site" on the enzyme. When matched with its specific coenzyme (a vitamin, mineral, or trace element) this "lock" has the exact inverse contour of the "key" which is contained in the molecule of the enzyme's "substrate" (the molecule
            that the enzyme wants to transform into a different molecule). When the substrate appears, it inserts the "key" into the "lock." The molecular structure of the substrate is transformed into a different molecular structure and both enzyme and
            the newly transformed molecule go on their merry ways.
        </p>
        <p>
            <u>What is a digestive enzyme?</u> A digestive enzyme breaks down the proteins, fats and carbohydrates in food during the digestive process allowing the body to better utilize the food you eat.
        </p>
        <p>
            <u>What is a proteolytic enzyme?</u> The proteolytic enzyme digests protein. Some examples of proteolytic enzymes are protease, serrapeptase, bromelain, and papain.
        </p>
        <p>
            <u>What is a lipase enzyme?</u> Lipase enzymes digest fat.
        </p>
        <p>
            <u>What is an amylase enzyme?</u> Amylase enzymes digest carbohydrates.
        </p>
        <p>
            <u>What is systemic enzyme therapy?</u> Systemic enzyme therapy is utilizing enzyme supplementation to increase the enzymes throughout your body to assist in restoring the body to health.
        </p>
        <p>
            <u>What else are enzymes used for?</u> Enzymes are widely used in the food industry. Enzymes are also essential in the manufacture of beer.
        </p>
        <p>
            <u>Are enzymes considered "anti-inflammatory drugs"?</u> Proteolytic Enzymes are considered anti-inflammatory agents.
        </p>
        <p>
            <u>What is the recommended dosage of Vitalzym?</u> The recommended dosage to be taken at least 45 minutes prior to or after meals is 3 capsules, once a day. However, since each individual is different, a higher or lower dosage may be appropriate
            for each individual. It is important to understand each person's "activation" dosage. See the information from Dr. Wong on the activation dosage.
        </p>
        <p>
            <u>How long before the Vitalzym takes effect?</u> It may depend on the individual's physiological make-up. Everyone is different. Testimonials from some of our customers reported positive effects ranging from 3 days to 2 weeks. Taking the
            right activation dosage is critical to the success of the product.
        </p>
        <p>
            <u>What claims do you make about the effectiveness of Vitalzym?</u> The FDA does not allow the nutraceutical industry to make claims about their products without scientific studies being performed that substantiate the claims. Our customers
            can share their experience with the product but World Nutrition does not make specific claims.
        </p>
        <p>
            <u>Are there any side effects at all with your product?</u> We currently have no documented evidence of any adverse side effects based on the use of Vitalzym. You should not take this product without the consent of your physician if you are
            currently taking anti-coagulants, commonly known as blood thinners.
        </p>
        <p>
            <u>Are there any compatibility issues with other nutraceuticals?</u> No. In fact, since vitamins are coenzymes and minerals are cofactors to enzymes, enzymes are needed in the body for them to be able to have their full effect. In addition,
            the vitamins and minerals assist the enzymes. Thus, systemic enzyme use enhances the effect of other supplementation programs.
        </p>
        <p>
            <u>Are there any compatibility issues with any prescribed drugs?</u> Yes. Customers using anti-coagulants, or blood thinners, should not use Vitalzym without the consent of their physician. The enzymes enhance the effects of the blood thinning
            medications making them stronger.
        </p>
        <p>

            <u>Why do you call Vitalzym a vegetarian product?</u> The enzymes used in Vitalzym are plant derived with no animal products. This allows everyone, including strict vegetarians, to take Vitalzym. Some enzyme products use ingredients that are
            derived from bovine (cows).
        </p>
        <p>
            <u>How does World Nutrition grow their enzymes?</u> Is the process ecologically safe? Does the process use any chemicals? The enzymes in Vitalzym come from two sources; the fruit enzymes along with the Amla and Rutin are from fruit grown in
            organic plantations, and the protease and serrapeptase are lab grown in a protein (fungus) medium. The enzymes are then extracted from the medium so that not a trace of fungus is left on the enzyme and the purity is assured.
        </p>
        <p>
            <u>What is serrapeptase and where does it come from?</u> Serrapeptase is a powerful proteolytic enzyme. In Japan, Takada sells serrapeptase as a registered anti-inflammatory medicine under the product name Dazen. Serrapeptase is laboratory
            grown.
        </p>
        <p>
            <u>Does weather affect your product?</u> Exposure to heat over 150º for an extended period of time can destroy the enzymes. Store your Vitalzym in a cool, dry place, with the lid of the bottle tightly closed.
        </p>
    </div>
</div>
