<div class="panel-heading" role="tab" id="headingNine">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          FAQ - Which Vitalzym product is best for me?
        </a>
      </h4>
</div>
<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
    <div class="panel-body">
        <p>
            <u>Vitalzym Liquid Gel Caps:</u> Are a highly efficient systemic enzyme product getting 92+% of the enzymes to the destination point in the small intestines. There double the strength of the Vitalzym Original, so you need only half as many
            capsules. This is the best enzyme product for systemic purposes.
        </p>
        <p>
            <u>Vitalzym Original Formula:</u> This is World Nutritions original systemic product. The enzyme efficiency on this product is about 50-60%, What this means is that only 50-60% of the enzymes are actually getting to their destination in the
            small intestines. But interstingly enough when the liquid gel caps were first introduced we learned that some people actually did better on this formula over the new formula. Eventually we learned the reason why was that people that had digestive
            problems actually had less digestive problems with the original formula.
        </p>
        <p>
            <u>Vitalzym Xe:</u> This is World Nutritions professional formula. This is liquid gel caps, the same as the Vitalzym Liquid Gel Caps, but double the strength. It is designed for practitioners client/patient base. This is also available here
            at Health Springs Inc. but must be ordered by phone.
        </p>
        <p>
            <u>Vitalzym Cardio:</u> This formulation was originally called VitalzymSEB. It is a cardio vascular formula and its name explains its purpose. It is basically the same as the Vitalzmy Original with the exception of Nattokinaise enzyme added
            to it.
        </p>
    </div>
</div>
