<div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Immunity
        </a>
      </h4>
</div>
<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
        <p>
            <strong>Vitalzym</strong> helps <u>reinforce the body's defense mechanism</u> in the following ways:
        </p>

        <ul>
            <li><strong>Fibrin</strong>: Normal enzyme levels help guard against the formation of fibrin.</li>
            <li><strong>Blood</strong>: Enzymes help cleanse the blood of debris, maintaining blood health.</li>
            <li><strong>Immune Function</strong>: Enzymes help maintain healthy immune systems.</li>
            <li><strong>Healthy Circulation</strong>: Normal enzyme levels help promote blood circulation.</li>
        </ul>

    </div>
</div>
