<div class="panel-heading" role="tab" id="headingTwo">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Inflamation
        </a>
      </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
        <p>
            <strong>American Heart Association states:</strong>
        </p>
        <p>
            The American Heart Association has stated the inflammation in your body is a marker for heart disease, stroke, and atherosclerosis. The medical professions are beginning to understand and acknowledge that <u>inflammation plays a major role in disease</u>.
            Some are strongly suggesting that it is at the core of the issue.
        </p>
        <p>
            <strong>Vitalzym is a safe</strong> and effective natural formulation for individuals seeking relief from inflammationand fibrosis conditions. As we age, our body's natural production of enzymes may slow. Supplementation with Vitalzym along
            with proper diet and exercise helps to maintain normal enzyme levels, balancing your body's own repair mechanisms. Vitalzym is a safe option for alleviating chronic pain and inflammation associated with rheumatoid arthritis and fibrosis.
        </p>
    </div>
</div>
