<div class="panel-heading" role="tab" id="headingFifteen">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
          Label - Product Facts
        </a>
      </h4>
</div>
<div id="collapseFifteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFifteen">
    <div class="panel-body">
        <p>
            <strong>The New Vitalzym bottle label</strong>
        </p>
        <p>
            Vegetarian Formula<br /> All Natural * Non-toxic * Non-GMO
        </p>
        <h3>Vitalym Liquid Gel Caps</h3>
        <div class="thumbnail">
          <img src="vitalzym_luiquid.jpeg" alt="Vitalyzm Liquid Gel Caps" />
        </div>
        <h3>Vitalzym Original Formula</h3>
        <div class="thumbnail">
          <img src="vitalzym_original.gif" alt="Vitalzym Original Formual" />
        </div>
    </div>
</div>
