<div class="panel-heading" role="tab" id="headingTen">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          Liquid Gel Caps
        </a>
      </h4>
</div>
<div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
    <div class="panel-body">
        <p>
            <strong>Solubilized Liquid-Filled Gel Capsule</strong>
        </p>
        <p>
            At the center of the advanced delivery system is a new Solubilized Liquid-Filled Gel Capsule used to enhance the absorption of Vitalzym. The technology of liquid-filled capsules is superior to that of capsules filled with powder because it uses low heat
            production, provides more uniform dose distribution, and prolongs enzyme activity.*
        </p>
    </div>
</div>
