<div class="panel-heading" role="tab" id="headingThirteen">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          Manufacturers Guidelines
        </a>
      </h4>
</div>
<div id="collapseThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThirteen">
    <div class="panel-body">
        <p>
            <strong>MADE IN JAPAN UNDER JAPANESE MANUFACTURING GUIDELINES</strong>
        </p>
        <p>
            Vitalzym is regulated by the Pharmaceutical and Food Safety Bureau under the Ministry of Health, Labor, and Welfare in Japan. This agency is the Japanese equivalent of the FDA of the United States Department of Health and Human Services. Since Vitalzym
            is regulated in Japan, it must adhere to manufacturing requirements that are far more stringent than dietary supplements manufactured in the United States. Supplements manufactured in the United States are considered food grade, and thus,
            are not regulated as stringently as in Japan.
        </p>
        <p>
            Quality control requirements of a licensed manufacturing facility in Japan are considered the most hygienic of any industry. Extreme measures are taken to avoid any possibility of contamination. Precautions include clean rooms, dust particle control,
            and sophisticated air filtration systems. During frequent site facility inspections, the government inspects all laboratory equipment and safety measures. Each inspection must be passed in order to retain the export licensure.
        </p>
        <p>
            World Nutrition is also required to notify the Japanese Pharmaceutical and Food Safety Bureau of any variance to the registered ingredient blend. Any blend change would require a new registration for export. Every batch of product must be inspected before
            and after mixing to test adherence to the registered blend. In addition, every lot of raw materials received by our manufacturing facility must be tested independently of the supplier for safety, impurities, potency, and accuracy. These records
            must be disclosed upon facility inspections.
        </p>
        <p>
            These Japanese manufacturing guidelines unique to the manufacturing of Vitalzym ensure that each and every capsule is of the utmost purity, potency and safety.
        </p>
    </div>
</div>
