<div class="panel-heading" role="tab" id="headingFourteen">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          Comments from Manufacturer
        </a>
      </h4>
</div>
<div id="collapseFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourteen">
    <div class="panel-body">
        <p>
            <strong>What the Manufacturer Says</strong>
        </p>
        <p>
            Vitalzyms&trade; provides the enzymes needed for each of the millions of biochemical reactions that make life possible. Without enzymes, life could not exist. As we age, our body's natural production of enzymes may slow. Supplementation with Vitalzym&trade;
            along with proper diet and exercise helps to maintain normal enzyme levels, balancing your body's own repair mechanisms.* Vitalzym&trade; is natural. It contains no animal derivatives, artificial flavors, artificial colors, yeast or gluten. Vitalzym&trade;
            is also lactose free and contains no harmful talc.
        </p>
    </div>
</div>
