<div class="panel-heading" role="tab" id="headingSixteen">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
          Product Disclaimer
        </a>
      </h4>
</div>
<div id="collapseSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixteen">
    <div class="panel-body">
        <p>
            As good as the World Nutrition products have been up to this point and all the positive feedback we get from customers the truth is still the same in that the statements made on this page have not been evaluated by the Food and Drug Administration. This
            product is not intended to diagnose, treat, cure, or prevent any disease.
        </p>
    </div>
</div>
