<div class="panel-heading" role="tab" id="headingTwelve">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          Proprietary Blend
        </a>
      </h4>
</div>
<div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
    <div class="panel-body">
        <p>
            <strong>Vitalzym's Exclusive Proprietary Enzyme Blend </strong>
        </p>
        <p>
            Proprietary Blend Vitalzym is recommended by healthcare professionals worldwide. The unique blend of vegetarian enzymes, flavonoids, and antioxidants has been formulated for 100% absorption in the small intestine.* Serrapeptase, a key ingredient in Vitalzym,
            was originally discovered in Japan and is commercially produced there for health applications. It has been used as a substitute for animal-derived enzymes, such as chymotrypsin, due to its stronger effect in terms of bradykinin-decomposing
            activity (a measurement of the enzyme activity level needed to degrade bradykinin, a protein found in the body that causes an inflammatory response).
        </p>
    </div>
</div>
