<div class="panel-heading" role="tab" id="headingSeventeen">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
          Shipping Details
        </a>
      </h4>
</div>
<div id="collapseSeventeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeventeen">
    <div class="panel-body">
        <p>
            Shipping is Free – We do same day shipping if order is received in timely manner.
        </p>
        <p>
            <strong>Vitalzym Liquid Gel Caps 360’s</strong> is available for <u>Free Overnight Express USPS Mail.</u> You must choose Express Mail at checkout. It must be understood that this is 1-2 business days delivery although most of the time it
            will be 1 day, or next day delivery.
        </p>
        <p>
            All the other Vitalzym products the standard delivery is USPS Priority Mail which is typically 2-3 business day delivery.
        </p>
        <p>
            Please feel free to contact as with any questions. Ph: 800-416-7114
        </p>
    </div>
</div>
