<div class="panel-heading" role="tab" id="headingFive">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Testimonies
        </a>
      </h4>
</div>
<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
    <div class="panel-body">

        <blockquote>Vitalzym really works for me. I have fibromyalgia, and I've tried a lot of other things, but I don't get the same results as I do with Vitalzym. I take a multiple approach to dealing with the fibro. I also get massage, acupuncture, and do Pilates.
            Some people with fibromyalgia have to stop working because of the pain and other problems. I was determined not to have to do that. Some people comment to me that Vitalzym is too expensive. I feel it is better than taking a lot of pain medication.
            Everyone has a different perspective. Mine is that I can't buy back days of my life. Quality of life is my optimum goal, and I have found that Vitalzym is a big part of that.
        </blockquote>
        <h4 class="text-right">-Sharon S, Richmond, VA.</h4>
        <hr />
        <blockquote>
            Mahola for these products. After about 6 months I have been able to get completely off blood pressure medication. In addition to getting off the blood pressure medicine, the pain that I have had in my feet from years of abuse as a dancer has decreased
            substantially, and some days is completely gone. I can only attribute it to the enzymes. I'm very happy with these products
        </blockquote>
        <h4 class="text-right">-Sharon T.t, Waikoloa, HI (Vitalzym and Vitalzym SEB (Cardio))</h4>

    </div>
</div>
