<div class="panel-heading" role="tab" id="headingSix">
    <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Testimonies of Healthcare Professionals
        </a>
      </h4>
</div>
<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
    <div class="panel-body">
        <blockquote>
            I hurt my back and had tried everything naturally to help the pain but it didn’t work. So I went on Naprosyn, a heavy anti-inflammatory. A MRI identified that I had a disk problem. My doctor, a DO, then gave me steroid injections that helped but still
            left me in pain. During this time, I stayed on Naprosyn. However, this messed up my hormones. I started taking 10 Vitalzym capsules 3 times per day and stopped the injections and anti-inflammatory drugs. I experienced the liver detoxification
            but was aware of what was going on so I knew it was cleansing my system. After taking it daily, the swelling in my legs has gone down. In addition, I have quit getting up in the night to urinate which means Vitalzym likely helped any kidney
            scar tissue. And the fungus on my toe is clearing up. I am still taking 5 Vitalzym capsules 3 times per day. Vitalzym has taken my pain level from a 5 – 6 to a 1.
        </blockquote>
        <h3 class="text-right">  Roxanne Watson</h3>
        <h4 class="text-right"> Colonic Hydrotherapist, Escondido, CA</h4>
        <hr />
        <blockquote>
            Several months ago, a sample of my blood was analyzed with Dark Field Analysis, and my red blood cells were almost completely “infested” with target cells. After two weeks of taking 3 capsules of Vitalzym on an empty stomach, morning and night, 95” of
            the target cells were gone and my red blood cells looked normal and healthy on the Dark Field Analysis screen. Furthermore, I have had struggles with acne, and the breakouts have left brown and bluish spotted scars. As soon as I began taking
            Vitalzym, and especially once I increased the dose to 4, 5, 6, 7, and 8 capsules twice per day on an empty stomach, I Began to see these scars get lighter and lighter. Some of these marks I couldn’t imagine would ever go away…especially this
            fast. It seems to me that Vitalzym has seriously enhanced my healing process in both instances – ridding me of the target cells, reducing inflammation, and scarring on my face.
        </blockquote>
        <h3 class="text-right">Melanie Adinolfi</h3>
        <h4 class="text-right"> Nutritionist, Green Valley, AZ</h4>
        <hr />
        <blockquote>
            I was diagnosed with breast cancer on May 20th, 2003. I did not use any conventional medicine except for diagnosis. I worked with my naturopath using various supplements to boost my immune system. I used 30 capsules of Vitalzym a day (10 capsules, 3 times
            a day on an empty stomach) to kill the cancer cells and also to further boost my immune system and help detoxify my body. I also used a variety of other modalities to eliminate the cancer from my system. But Vitalzym was a key component of
            my protocol. My body was free of cancer by September 2003. And, I remain free of cancer in my body till this day. I do, however, continue to use Vitalzym and other supplements daily and will probably do so for another six months or so.
        </blockquote>
        <h3 class="text-right">Rona Achilles</h3>
        <h4 class="text-right">PhD</h4>
        <hr />
        <blockquote>
            Just wanted to say thanks for your product, Vitalzym. I have had many reports of improvements for various complaints from pains, to swelling of joints, to Raynaud’s … being relieved by Vitalzym. Two of the most remarkable were in cardiac patients with
            claudicaiton of their legs besides the angina they had. One was getting ozone treatments with Calcium EDTA chelation and was no longer having pain at rest. All of his major coronary arteries were completely occluded and Mayo clinic had tried
            laser, robotic therapy, rotorutter… and for five years running, he had spent over $10,000 for a month of failed treatments each year. After three weeks of the above chelation therapy he felt better, but paid a price for exertion. After a few
            days on the Vitalzym, as well as chelation and ozone saunas, he’s back hunting, fishing, hiking… with no pain in his chest or legs. The other fella was as bad… with angina at rest and claudication on 15 feet of walking, he, too, had the calcium
            EDTA and ozone saunas and was better, but came in today stating that he was able to walk to the grocery store without having to stop once and didn’t even feel a tinge of pain or fatigue just two days after starting the Vitalzym. My hat’s off
            to your company for such a good response…far better than your competitor. I will continue to refer patients to you for their products.
        </blockquote>
        <h3 class="text-right">Dan O. Harper</h4>
  <h4 class="text-right"> MD, Conrad, MT</h4>
  <hr />
<blockquote>
Dr. Wong, thank you for the data on Vitalzym.  I appreciate your expertise.  I’m in the process of branching out from “orthodox” medicine at this time, doing acupuncture and osteopathic manipulation.  The nutritional elements of patient healing have always been “out there” until now.  I appreciate your advocacy of this supplement.  It is a breath of fresh air and a useful additional tool in the toolbox of modalities in treating chronic pain in my patients.
</blockquote>
                <h3 class="text-right">Thaddeus Srutwa</h3>
        <h4 class="text-right"> MD, Grand Haven, MI</h4>
        <hr />
        <blockquote>
            I had written to Dr. Wong a few months ago about trying Vitalzym and it took us awhile to decide to try (yet again) another product. So far we are stunned at the change it seems to have made for my older daughter who was misdiagnosed with asthma for 10
            years and so developed a lot of scar tissue from chronic severe lung infection. Blessings to you.
        </blockquote>
        <h3 class="text-right">M. K.</h3>
        <h4 class="text-right">M.Ac.</h4>
        <hr />

        <blockquote>
            I am dropping you this line to tell you how pleased I am with your product – Vitalzym. As a physician for well over 60 years, I have not written a prescription for drugs since 1959! Since that time I have relied on natural substances, such a herbs, nutritional
            supplements and noninvasive therapies to treat my patients and by so doing I have used and recommended hundreds of supplements in the last 40 years. Conditions complicated by inflammation and fibrosis are things a physician commonly sees in
            his practice. For years not much but White Willow Bark and Bromelain were available to treat these maladies with nature. Systemic enzymes have been a blessing in relieving the inflammation that is the cause of every pain and the fibrosis build
            up that comes with many injuries, diseases and surgery. Of all the systemic enzymes presently on the market, your Vitalzym is one of the best. My patients have found that it works quickly and well to reduce their inflammations and thereby
            relieve their pain. Fibrotic conditions are likewise greatly reduced or eliminated altogether. I would like to thank you for bringing this product to the public and wish you continued success in making patients aware of its benefits.
        </blockquote>
        <h3 class="text-right">Dott. Hermann von-Gehm</h3>
        <h4 class="text-right">Dipl. N.D., Ph.D., P.E., Long Island City, NY</h4>
        <hr />

        <blockquote>
            Last week I received a sample bottle of Vitalzym. I heard about it when you sent me a cassette tape. I hardly ever listen to those, but I was just going on a long drive when it came, and decided to listen on the way. I am an acupuncturist and RN, and
            have been trying out various enzymes, mostly with very little success. I got my bottle of Vitalzym in the afternoon, and decided to take one before going to bed. When I woke up the next morning, I went down to get my coffee as usual, but I
            noticed something odd when coming back up the stairs. My knees didn’t hurt. Now I don’t normally have a lot of knee pain, just what I call old age creeping up. But what made me stop and notice was that I had NO knee pain. I even walked back
            down and up the stairs just to make sure. I kept taking my enzymes that day, and several times went up and down the stairs just to make sure I wasn’t hurting. Now, a few days later, still no knee pain and my chronic low back pain is about
            half of normal. Can it really be that one pill knocked out my knee pain??? If so, this really is fairy dust. I have several of my patients trying Vitalzym. Can’ wait to see the results!
        </blockquote>
        <h3 class="text-right">Connie McKenna</h3>
        <h4 class="text-right"> RN and Acupuncturist, Los Osos, CA</h4>
        <hr />

        <blockquote>
            When Vitalzym entered my life, I was suffering from a tenacious virus for about 4 or 5 days. My symptoms were sore throat, cough, hoarse voice, stuffy head, headache, body aches and stuffy nose. I was also recovering form 4 weeks of menstrual bleeding…very
            disconcerting and weakening and I was depressed by it all. My woman’s health care specialist told me by the sounds of my symptoms: the heavy bleeding, and the poochie abdomen etc, that I most likely had fibroid tumors in my uterus causing
            the symptoms. I opened Vitalzym bottle and popped 5 caps into my mouth immediately, as I knew that enzymes will eat the protein shield off of viruses and render them helpless if you can get enough of them into your system on an empty stomach.
            I took 5 more later that day and 5 more before bed. The next morning, I woke up and realized I had slept all night. I also breathed thru my nose, which was something I hadn’t done for a few nights and I didn’t ache anywhere. My period started
            again and I was worried but did not have time to get to the women’s health care specialist…it lasted a few days and then stopped. By the end of 2 weeks I had run out of Vitalzym and realized that I had lost 10 pounds and I no longer had a
            poochie abdomen. I noticed that I was no longer depressed and that I didn’t have to take herbs to have a bowel movement…something I had been having to do without fail for the last decade or so. I ordered more Vitalzym immediately. Since I
            have been taking Vitalzym I have had no more heavy, saturation bleeding periods. They have been about 5 days with moderate flow instead of 2 – 3 of barely controllable bleeding night and day, requiring me to stay at home for that time. I have
            had 4 normal periods in 4 months. The other thing is that they have come on without swelling and pain in my breasts nor migraines for the most part. They happen without 10 days of moodiness and discomfort like before. There has been no breakthrough
            bleeding and no irregular bleeding in between. I also had eye pain for over a year prompting me to see an eye doctor who said the muscles around my optic nerves had grown and were causing the visual disturbances known as midlife eyes syndrome
            – farsightedness etc (I am 53). Very often I was getting terrible headaches and eye pain. That is gone now and I believe it is the result of taking the Vitalzym. Perhaps related to that I have always had achy ears and I frequently wear cotton
            in them and always a hat. Recently my ears have been very clear and strong. I no longer need cotton nor hats when I am outside which is often as I walk my 2 dogs daily. Another thing I have noticed is that cuts and wounds are healing fast
            now. One of the most amazing things is the improvement in my attitude and moods. I just feel happy everyday and I don’t have mood swings that exhaust me trying to control them. I can pull out of negativity faster and my thoughts are more expansive
            and hopeful. I feel peaceful and that I am healing on a deep level. I also notice that if I take the Vitalzym with any herbs, the herbal effects are exaggerated. I also notice that I urinate way more when I take the Vitalzym and I make sure
            I drink a lot more water than I ever did before. If I don’t, I get a headache which tells me the Vitalzym are detoxing my body on some level…it’s subtle. Before taking the Vitalzym I had swollen and fragile tissue due to misuse of cortisone
            cream for hemorrhoids years ago. It has always been a bother. The scar tissue and fragile tissue is much improved now – no more swelling and very much nicer. My dog was so happy to see me recently that he leaped up at the same time I was bending
            down to hug him. We crashed heads and I tasted blood and saw stars. The dog was ok but my nose felt rearranged and smashed. I remembered the testimonial I read about the woman who crashed her son’s head and I took 10 Vitalzym at once. I never
            did swell up and the pain went away immediately. I am really so thankful for the Vitalzym and for the info you continue to provide me. I have listened to the tape 12 times now and am still fascinated and I hear something new each time. I love
            the possibilities of it. Thank you so much!!
        </blockquote>
        <h3 class="text-right">Marcia K.</h3>
        <h4 class="text-right"> Nutritional Consultant, Ranier, WA</h4>
    </div>
</div>
