<div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Why Enzymes
        </a>
      </h4>
</div>

<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
        <p>
            <strong>Vitalzym</strong> helps <u>reinforce the body's defense mechanism</u> in the following ways:
        </p>
        <p>
            <strong>Fibrin</strong>: Normal enzyme levels help guard against the formation of fibrin.
        </p>
        <p>
            <strong>Blood</strong>: Enzymes help cleanse the blood of debris, maintaining blood health.
        </p>
        <p>
            <strong>Immune Function</strong>: Enzymes help maintain healthy immune systems.
        </p>
        <strong>Healthy Circulation</strong>: Normal enzyme levels help promote blood circulation.
        </p>
        <p>
            <strong>Reduce Inflammation</strong>: Helps your body repair damaged tissue, such as post-operative injuries, cuts and bruises. Reduces swelling and inflammation, which often alleviates pain, as is often the case in patients with arthritis
            or chronic back pain.
        </p>
    </div>
</div>
