<div class="modal fade" id="vitalzym_info" tabindex="-1" role="dialog" aria-labelledby="Vitalzym_Info_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="Vitalzym_Info_label">Vitalzym Info</h4>
            </div>
            <div class="modal-body">
                <!-- Tabel Start -->
                <div class="table-responsive">
                <table class="table" border="3" bordercolor="#66CC00" bgcolor="#ECE9D8">
                    <thead>
                        <tr>
                            <th colspan="2">Vitalzym&trade; provides the enzymes needed for each of the millions of biochemical reactions that make life possible. Without enzymes, life could not exist.</th>
                        </tr>
                    </thead>
                    <tr>
                        <td style="width: 40%;">Enzymes are biocatalysts: which means that they either begin a reaction or cause a reaction to speed up.&nbsp; Enzymes cause the chemical reactions responsible for breathing, digestion, growth, reproduction and most other body
                            functions.&nbsp; Your body contains approximately 3,000 different enzymes. </td>
                        <td>
                            <strong>Reduce Inflammation</strong>

                            <ul>
                                <li>Help your body repair damage tissue.</li>
                                <li>Reduce swelling and inflammation, which often alleviates pain, as is often the case in patients with arthritis or chronic back pain.</li>
                                <li>A healthy alternative to Non-Steroidal Anti Inflammatory Drugs, such as aspirin and ibuprofen, which are known to have ill effects on the liver, kidneys, stomach and intestines.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Eating enzyme rich foods, such as fruits and uncooked vegetables helps your body maintain a healthy level of enzymes.&nbsp; With a good supply of enzymes, your body will get more out ot the vitamins and minerals you consume.
                            </p>
                            <p>&nbsp;</p>
                        </td>
                        <td><strong>Guard Against Fibrosis</strong>

                            <ul>
                                <li>Digest scar tissue.</li>
                                <li>Doctors in Europe and Asia have used enzymes as a therapy for surgical wounds, pulmonary fibrosis, and kidney fibrosis for mare than 40 years.</li>
                                <li>Fibrin reduces the function and size of our organs as we age.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Vitamins and minerals function within the body in enzymatic reactions.&nbsp; Your body synergistically uses enzymes with vitamins (which are coenzymes) and minerals (which are cofactors).&nbsp; Enzymes help vitamins and minerals to function.
                            </p>
                        </td>
                        <td>

                            <strong>Help Maintain a Healthy Immune System</strong>

                            <ul>
                                <li>Helps modulate your immune function.</li>
                                <li>Reinforces yourbody's defense smechanisms and speeds healing.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>As you age your enzyme levels and activity decrease.&nbsp; Your body makes most of the enzymes you need, but poor diet, illness, injury and other circumstances may cause enzyme depletion. </td>
                        <td><strong>Promote Healthy Circulation</strong>

                            <ul>
                                <li>Helps cleanse the blood of toxins and impurities.</li>
                                <li>Aids the liver in filtering toxins out of the body.</li>
                            </ul>
                            <p> <strong>Fight Viruses</strong> </p>
                            <ul>
                                <li>When your immune system attacks viruses, the virus is protected by a protein shell.&nbsp; Enzymes can eat away at the virus protein shell</li>
                            </ul>
                        </td>
                    </tr>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>
