<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Oxy<span>Flush</span></h1>

                    <div class="thumbnail" data-toggle="modal" data-target="#product_label">
                        <img src="oxyflush.jpg" alt="Oxy Flush" />
                    </div>

                    <div class="modal fade" id="product_label" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">OxyFlush Label</h4>
                          </div>
                          <div class="modal-body">
                            <div class="thumbnail">
                                <img src="oxyflush_facts.jpg" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <p class="alert alert-info">
                        120 caps 900 mg
                    </p>


                    <h3>$23.95</h3>
                    <h4>2 for $22.95 each</h4>
                    <h4>3 for $19.95 each</h4>
                    <h4>4 for $18.95 each</h4>
                    <h4>5 for $17.95 each</h4>
                    <h4>6 or more $16.95 each</h4>

                    <div id="form_body_wrapper" data-partial data-partial-name="component_form-body" data-partial-values>
                      "route_redirectLink" : "oxyflush"

                      "inputs_hidden":
                          "ShipKey" : "S2",
                          "Weight" : ".4",
                          "DiscStr" : "1,1,23.95;2,2,22.95;3,3,19.95;4,4,18.95;5,5,17.95;6,11,16.95",
                          "DiscItem" : "N",
                          "Describe" : "HSOXFL120",
                          "ID" : "OxyFlush 900 mg 120 caps"

                    </div>

                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer"></div>


                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->

                <h3 class="text-center text-success">
                  The Super Cleanser<br />
                  For<br />
                  The Active Lifestyle
                </h3>
                <p>
                    Want to clean your bowels and intestines but don't like the taste of powders and lemons? OxyFlush is the answer.
                </p>
                <p>
                    Get it all out. Especially useful if you are taking another oxygen supplement (OxyLift) or systemic enzyme product (Vitalzym) which is throwing out wastes that need elimination. Special Powerful colon oxygenator/ozonator/cleanser in a convenient take
                    along anywhere <span data-partial data-partial-name="widget_veggie-capsules"></span>.
                </p>
                <p>
                    Magnesium based oxides and ozonides release oxygen and ozone throughout the digestive system to flush away accumulated toxins and mucous plugging up your elimination system.
                </p>

                <p>
                    Can also be used as a simple stool softener, just take less!
                </p>
                <p>
                    Combine Oxyflush, OxyLift, and OxyEarth for a simple, powerful, and an amazing wellness program.
                </p>
                <p>
                    <b>Super OxyFlush</b> is now available click <a data-route data-route-name="superoxyflush">here for more info</a>
                </p>

                <p class="bg-warning">
                    FREE First Class Shipping Available
                </p>
                <!-- End Product Description -->
                <!-- Populate with shipping info -->
                <div id="shipping_wrapper" data-partial data-partial-name="widget_shipping"></div>

                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "oxyflush"
                </div>

            </div>



        </div>


    </div>
</div>
<script>
    $(function() {
            // Enable popups
        $('[data-toggle="popover"]').popover();

      initPage();

    })
</script>
