<div class="panel panel-sidebar">

    <div class="panel-heading">
        <h1>Empower Your Immune System <span>Against The Ravages of Disease</span>.</h1>
    </div>

    <div class="panel-body">
        <div class="well">
            <p>The majority of all diseases are immune system related. Knowing that Your Immune health is your key to good health! gives you a great advantage. Don't be a victim of any of these conditions listed:</p>
        </div>
        <ul>
            <li>Aids</li>
            <li>Allergies</li>
            <li>Autism</li>
            <li>Arthritis </li>
            <li>Auto Immune Diseases</li>
            <li>Cancer</li>
            <li>CFS</li>
            <li>Crohns</li>
            <li>Eczema</li>
            <li>Fibromyalgia </li>
            <li>Liver Disease</li>
            <li>Lupus</li>
            <li>Lymphoma</li>
            <li>Multiple Sclerosis</li>
            <li>Sinus Infection</li>
            <li>Sore Throat....</li>
        </ul>
    </div>

    <div data-partial data-partial-name="widget_facebook-page"></div>

    <script>
      $(function(){
        initPage();
      })
    </script>

</div>
