<div class="panel panel-sidebar">

    <div class="panel-heading">
        <h1>Empower Your Immune System <span>Against The Ravages of Disease</span>.</h1>
    </div>

    <div class="panel-body">
        <div class="well">
            <p>The majority of all diseases are immune system related. Knowing that Your Immune health is your key to good health! gives you a great advantage. Don't be a victim of any of these!</p>
        </div>
    </div>

    <div data-partial data-partial-name="widget_facebook-page"></div>

</div>

<script>
  $(function(){
      initPage();
  });
</script>
