<div class="panel panel-blank">
    <div class="panel-body">

        <!-- Start product description -->

        <h2>Privacy Policy Statement For Health Springs</h2>

        <p>
            Our postal address is
        </p>
        <p>
            PO Box 24<br /> 209 Central Ave<br /> Buffalo, MN 55313<br />
        </p>
        <p>
            We can be reached via e-mail at info@healthsprings.net<br /> or you can reach us by telephone at 800-416-7114<br /> For each visitor to our Web page, our Web server automatically recognizes no information regarding the domain or e-mail address.
        </p>

        <p>
            We collect aggregate information on what pages consumers access or visit, information volunteered by the consumer, such as survey information and/or site registrations.
        </p>

        <p>
            The information we collect is used by us to contact consumers for marketing purposes and is not shared with any other person or business, with the exception of priority mail we frequently give the USPS your email for the purpose of mailing and delivery
            notification.
        </p>
        <p>
            With respect to cookies: We do not set any cookies.
        </p>
        <p>
            If you do not want to receive e-mail from us in the future, please let us know by sending us e-mail at the above address.
        </p>
        <p>
            If you supply us with your postal address on-line you may receive periodic mailings from us with information on new products and services or upcoming events. If you do not wish to receive such mailings, please let us know by calling us at the number provided
            above.
        </p>
        <p>
            Persons who supply us with their telephone numbers on-line will only receive telephone contact from us with information regarding orders they have placed on-line.
        </p>
        <p>
            We use AsecureCart.net for our shopping cart system. We offer 4 options for checking out and transferring funds for your purchase.
        </p>
        <p>
            <strong>Option 1:</strong> Authorize.net which is our credit card gateway, they will handle your transaction and notify us of your purchase so that we can send your products.
        </p>
        <p>
            <strong>Option2:</strong> PayPal - if have an account with Paypal you can check out quickly, if your account is not funded they will turn the transaction into an echeck which usually takes several days before it clears. This can delay the
            shipment of your products.
        </p>
        <p>
            <strong>Option3:</strong> Authorize.net offers you the option of doing an echeck. They draw the money from your account and put it into Health Springs account and inform us of the transaction so we can ship your products.
        </p>
        <p>
            <strong>Option 4:</strong> This is an obvious option, you can call our toll free 800-416-7114. Your order will be process through our local merchant account and your products will be sent out promptly.
        </p>
        <p>
            We make every effort that we know of to keep your privacy and protect you. If you have questions please feel free to call. If you have suggestions we are open to hearing any thoughts that you have to offer. If you think we are failing in some way, please
            let us know. Your privacy and satisfaction is important to our business.
        </p>
        <p>
            If you feel that this site is not following its stated information policy, you may contact us at the above addresses or phone number, The DMA's Committee on Ethical Business Practices at mgoldberger@the-dma.org.
        </p>
        <!-- End Product Description -->

    </div>
</div>
