<div class="panel panel-blank">
    <div class="panel-body">

        <!-- Start product description -->
        <h2>Return Policy:</h2>
        <p>
            <strong>We are committed to your Satisfaction!</strong> We offer a 30-day return policy. If you want to return a product please call us at 800-416-7114 with your name, address, and invoice number. We will then issue a Return Merchandise Authorization
            Number (RMA#), which is good for 10 days. We do not accept returns without an RMA# on the outside of the carton. Please be certain that returned merchandise is in original condition and in its original carton. Opened merchandise is non-returnable.
        </p>
        <p>
            Upon receipt of your return, we will send you a refund less any shipping costs. Returns are usually processed within 4-5 days of receipt, and refunds to your credit card take 10-14 business days after your return is processed, and refund checks are mailed
            within 2 weeks. Refunds are issued in the same manner as original payment. If merchandise or gift certificates were used as a form of payment, we'll reissue those to you upon resolving your return. Shipping charges are not refundable.
        </p>
        <p>
            Unauthorized returns such as return without authorization number, or refusal to accept delivery on an item that you order are subject to a 20% restocking fee.
        </p>
        <p>
            All returns must be in like new condition, in original packaging, with instructions and accessories. Items returned in less than new condition or incomplete may be subject to additional restocking charges. You may send your return to us via USPS mail,
            but ensuring that the item is delivered to us is your responsibility.
        </p>
        <p>
            Direct your return to:
        </p>
        <p class="alert alert-info">
            Health Springs<br /> RMA# xxxxxxxx ......................(Call 800-416-7114 to get your RMA#) <br /> PO Box 24<br /> 209 Central Ave <br /> Buffalo, MN 55313 <br />
        </p>
        <p>
            Our liability is limited to the replacement cost of the product you purchased from us and the ultimate decision regarding accepting returns is based on our sole discretion.
        </p>
        <p>
            In order to make your shopping experience with Health Springs a pleasant one, we ask that you consider the following:
        </p>
        <p>
            Many products have a cumulative effect. It is unrealistic to expect immediate results. Allow sufficient time for the product to achieve the desired effect. If you have questions about a product that you recently purchased, contact us.
        </p>
        <!-- End Product Description -->

    </div>
</div>
