<div class="panel panel-blank">
    <div class="panel-body">

        <!-- Start product description -->

        <h2>Shipping Policies</h2>
        <p>
            Our standard shipping is USPS Priority Mail. 95% of the time our products are shipped the same day if ordered by 2:30 PM CST. Overnight Express Mail is also available (please note that Express mail is 1-2 business day delivery depending on your location,
            if it is paramount that you get it the next day please call and verify the delivery before ordering) and can be chosen in the shopping cart at the time of check out. On some select products there is free shipping.
        </p>
        <p>
            Your product leaves our shipping department and within a couple of hours it is at the airport.. This keeps it from being stored for days in hot trucks in transit, this is commonly what happens with ground shipping many vendors offer. This is a valuable
            service for the integrity of your products, having them in the air and on the way in a matter of a few hours.
        </p>
        <h3>International Orders</h3>
        <p>
            International orders must go through customs so delivery time is unpredictable, as customs can choose to hold any package for any length of time which Health Springs has no control over, this includes Canada and Mexico.
        </p>
        <p>
            Learn More about our <a data-route data-route-name="return_policy">Return Policy here.</a>
        </p>

        <!-- End Product Description -->

    </div>
</div>
