<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Alga<span>zim</span></h1>
                    <h2>Algazim - Norwegian Fjord Kelp</h2>
                    <div class="thumbnail">
                        <img src="algazim.jpg" alt="Algazim" />
                    </div>

                    <h3>$18.95 per Bottle</h3>
                    <p>Algazim 250 caps 425 mg each</p>

                    <div data-partial data-partial-name="component_form-body" data-partial-values>
                      "route_returnLink" : "algazim"

                      "inputs_hidden" :
                          "Weight" : ".00",
                          "DiscStr" : "1,1,18.95",
                          "Describe" : "HSALG250",
                          "ID" : "Algazim 250 capsules"
                    </div>

                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer"></div>

                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->
                <br />
                <br />
                <br />
                <br />
                <p>
                    Algazim is a special low salt Norwegian fjord kelp that is rich in iodine (225 mcg per capsule) and contains small amounts of numerous other trace elements. Algazim is also rich in vitamin A (carotenoid) and is one of the few vegetarian sources of vitamin
                    B12. Algazim kelp is quickly frozen and dried after harvesting, thereby preserving all of the natural vitamins and enzymes.
                </p>
                <p>
                    Algazim comes in the safe <span data-partial data-partial-name="widget_veggie-capsules"></span>, the porcine gelatin that many mineral and vitamin supplements contain is very distructive to the human body chemistry. This is why vegetable based capsules are important.
                </p>
                <!-- End Product Description -->

                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "algazim"
                </div>
            </div>



        </div>

    </div>
</div>
<script>
    $(function() {

        initPage();

    });
</script>
