<div class="panel panel-product">
    <div class="panel-body">

        <!-- heading start -->
        <div class="text-center">
            <h1>HealthNews</h1>
            <p>
                What Can I Do For My Immune System Health
            </p>
        </div>
        <!-- heading end -->

        <!-- Article Start -->
        <h3>Beta-1, 3-D Glucan Immediate Press Release</h3>
        <p>
            Drs. Vetvicka and Vetvickova Beta Glucan Studies continue to demonstrate the science of the Superior Beta 1 3-D Glucan, Transfer Points' Glucan #300. The most active brand on the market
        </p>
        <a data-route data-route-name="beta-1_3-d">Go to Article</a>

        <hr />

        <!-- Article End -->

        <!-- Article Start -->
        <h3>Beta-1, 3-D Glucan and it's effects (A.J. Lanigan)</h3>
        <p>
            A.J. Lanigan is an author, lecturer, formulator and manufacturer. He is an expert in the field of immunology. For over eight years, he has developed products related to immunology. Which means that there are products available that help your immune system
            against disease.
        </p>
        <a data-route data-route-name="a_j">Go to Article</a>

        <hr />
        <!-- Article End -->

        <!-- Article Start -->
        <h3>Experts Urge Steps to Stem Antibiotic Resistance</h3>
        <p>
            This article is from the Washington Post Newspaper (8/26/97); Okie Susan.
        </p>

        <a data-route data-route-name="wash">Go to Article</a>

        <hr />
        <!-- Article End -->

        <!-- Article Start -->
        <h3>  MSM supporting the Immune System</h3>
        <p>
            This article authored by A.J.Lanigan tells of the value of MSM in the supporting of the Immune System function. Also mentioning other benefits and actions on the bodily functions. Interesting Article.
        </p>
        <a data-route data-route-name="msm_news">Go to Article</a>
        <!-- horizontal rule comented out for last item -->
        <!-- <hr /> -->
        <!-- Article End -->





    </div>
</div>
