<div class="copy_right">
    Copyright &copy; 1998-<span id="year"></span>
    <br />
     Health Springs inc.
</div>
<script>
  $(function(){

    var
      date = new Date(),
      year = date.getFullYear();

    $("#year").text(year);
  });
</script>
