<div class="text-align_center lower_footer">
    <a data-route data-route-name="privacy_policy">Privacy Policy</a> <a data-route data-route-name="terms_conditions">Terms and Conditions</a> <a data-route data-route-name="return_policy">Return Policy</a>
</div>
