<div id="vitalzym_slides" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#vitalzym_slides" data-slide-to="0" class="active"></li>
    <li data-target="#vitalzym_slides" data-slide-to="1"></li>
    <li data-target="#vitalzym_slides" data-slide-to="2"></li>
    <li data-target="#vitalzym_slides" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <!-- Vitalzym Liquid Gel Caps -->
    <div class="item active">
      <div class="thumbnail">
        <img src="vitalzym_two.jpeg" alt="Vitalzym Liquid Gel Caps">
      </div>
      <div class="carousel-caption">
        Vitalzym Liquid Gel Caps
      </div>
    </div>

    <!-- Vitalzym Original Formula -->
    <div class="item">
      <div class='thumbnail'>
        <img src="vitalzym.jpeg" alt="Vitalzym Original Formula">
      </div>
      <div class="carousel-caption">
        Vitalzym Original Formula
      </div>
    </div>

    <!-- Vitalzym Cardio -->
    <div class="item">
      <div class='thumbnail'>
        <img src="vitalzym_cardio.jpeg" alt="Vitalzym Cardio">
      </div>
      <div class="carousel-caption">
        Vitalzym Cardio
      </div>
    </div>

    <!-- Vitalzym X^e -->
    <div class="item">
      <div class='thumbnail'>
        <img src="vitalzym_xe.jpeg" alt="Vitalzym Xe - Professional Formula">
      </div>
      <div class="carousel-caption">
        Vitalzym Xe - Professional Formula
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#vitalzym_slides" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#vitalzym_slides" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
