<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Vital<span>zym</span></h1>

                    <!-- Carousel Start -->

                    <div id="carousel_wrapper" data-partial data-partial-src="/Vitalzym/carousel.html">
                      <!-- Loading carousel.html -->
                    </div>

                    <!-- Carousel End-->

                    <!-- Prices and Short Descriptions: -->
                    <ul>
                      <li>Vitalzym 360 Gel Caps $149.99</li>
                      <li>Vitalzym 180 Gel Caps $89.99</li>
                      <li>Vitalzym Original 450 caps $114</li>
                      <li>Vitalzym Xe -CALL 800-416-7114</li>
                      <li>Vitalzym Cardio 300 caps $129.99</li>
                    </ul>

                    <!-- form start -->
                    <div id="form_wrapper" data-partial data-partial-src="/Vitalzym/form.html"></div>
                    <div data-partial id="share_wrapper" data-partial-name="widget_share" data-partial-values class="padding-top">
                      "route_url" : "THIS_URL"
                    </div>
                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer">
                    </div>
                    <!-- form end-->




                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->

                <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/why_enzymes.html" id="why_enzymes-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/inflamation.html" id="inflamation-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/immunity.html" id="immunity-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/detoxification.html" id="detoxification-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/testimonies.html" id="testimonies-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/testimonies_hcp.html" id="testimonies_hcp-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/faq_enzymes.html" id="faq_enzymes-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/faq_which_vitalzym.html" id="faq_which_vitalzym-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/enteric_coated.html" id="enteric_coated-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/liquid_gel_caps.html" id="liquid_gel_caps-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/dosage.html" id="dosage-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/manufactures_guidelines.html" id="manufactures_guidelines-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/manufactures_comments.html" id="manufactures_comments-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/label_product_facts.html" id="label_product_facts-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/product_disclaimer.html" id="product_disclaimer-wrapper">
                  </div>
                  <div class="panel panel-default" data-partial data-partial-src="/Vitalzym/slides/shipping_details.html" id="shipping_details-wrapper">
                  </div>

                </div>

                <!-- End Product Description -->
                <!-- Populate with shipping info -->
                <!-- <div id="shipping_wrapper"></div> -->
                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "vitalzym"
                </div>
            </div>



        </div>


    </div>
</div>

<div id="vitalzym_info-wrapper" data-partial data-partial-src="/Vitalzym/modals/vitalzym_info.html"></div>
<div id="vitalzym_manufacture_says-wrapper" data-partial data-partial-src="/Vitalzym/modals/vitalzym_manufacture_says.html"></div>
<!-- <div id="vitalzym_info-wrapper"></div> -->


<script>
    $(function() {

            // Enable popups
        $('[data-toggle="popover"]').popover();

        initPage();

    })
</script>
