<div class="panel panel-sidebar">

    <div class="panel-heading text-center">
        <h1 style="line-height: 150%;">Call Toll Free <span class="display_inline-block">800-416-7114</span></h1>
    </div>

    <div class="panel-body">
        <div class="well">
            <p>
                <strong>Empowering Your Immune System...</strong> against the ravages of disease....with enzymes. Experience the miracle of enzyme therapy.
            </p>
        </div>

        <p>
            World Nutrition's Vitalzym is a safe and effective natural formulation for individuals seeking relief from inflammation and fibrosis conditions. As we age, our body's natural production of enzymes may slow. Supplementation with Vitalzym along with proper
            diet and exercise helps to maintain normal enzyme levels, balancing your body's own repair mechanisms.* Vitalzym is a safe option for alleviating chronic pain and inflammation associated with rheumatoid arthritis and fibrosis.
        </p>

        <p>
            <strong>Vitalzym</strong> is all natural
        </p>

        <ul>
            <li>No animal derivatives</li>
            <li>No artificial colors or flavors</li>
            <li>No yeast or gluten</li>
            <li>Lactose free</li>
            <li>No harmful talc</li>
            <!-- This link will trigger the modal with the Vitalzym info -->
            <li><a data-toggle="modal"  href="#vitalzym_info">More information</a></li>
            <li><a data-toggle="modal" href="#vitalzym_manufacture_says"> What The Manufacturer Says</a></li>
        </ul>

        <h3>Professional Opinion On Vitalzym</h3>
        <blockquote>
            <p>
                "I want you to know that Vitalzym is my choice for the most effective systemic enzyme formulation! I believe it is faster, better and stronger than any other enzyme supplement anywhere - period."
            </p>
            <p class="text-right">
                Dr. William Wong, ND, PhD
            </p>
        </blockquote>


        <h3>Thank You Vitalzym</h3>
        <blockquote>
            <p>
                Vitalzym really works for me. I have fibromyalgia, and I've tried a lot of other things, but I don't get the same results as I do with Vitalzym. I take a multiple approach to dealing with the fibro. I also get massage, acupuncture, and do Pilates.
            </p>
            <p>
                Some people with fibromyalgia have to stop working because of the pain and other problems. I was determined not to have to do that.
            </p>
            <p>
                Some people comment to me that Vitalzym is too expensive. I feel it is better than taking a lot of pain medication. Everyone has a different perspective. Mine is that I can't buy back days of my life. Quality of life is my optimum goal, and I have found
                that Vitalzym is a big part of that.
            </p>
            <p class="text-right">
                Sharon S. Richmond, VA. 7-30-2007
            </p>
        </blockquote>

        <div data-partial data-partial-name="widget_facebook-page"> </div>

    </div>

</div>

<script>
  $(function(){
    initPage();
  })
</script>
