<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Oxy<span>Earth</span></h1>

                    <div class="thumbnail">
                        <img src="OxyEarth2.jpg" alt="OxyEarth" />
                    </div>

                    <div class="alert alert-warning">
                      <p>
                          We no longer carry OxyEarth, we find the <a data-route data-route-name="mincol">Mincol</a> to be a superior product which we use ourselves.
                      </p>
                    </div>

                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer"></div>

                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->
                <h3>Premium Mineral Supplement</h3>
                <p>
                    Unpolluted prehistoric plant derived colloidal minerals are blended in exacting harmonic ratios with MSM which is super important to oxygenating your system. Methyl-sulfonyl-methane (MSM) is a naturally occurring sulfur compound derived from pine trees.
                    MSM and its related compounds are the source of 85% of the sulfur found in every cell of all living organisms. It is the fourth most plentiful mineral found in a healthy body and it also occurs naturally in fresh, organic, fruits and
                    vegetables. However, most of the MSM in our food is lost in washing, cooking, steaming, packaging and preparation. In short, modern agriculture and food processing have robbed our food of the natrual sulfur we need. Naturally occurring
                    sulfur, such as that found in our supplement using lignisul MSM, is not to be confused with inorganic sulfides, sulfites and sulfates, to which many people are allergic. What are the Facts About MSM Supplements? OxyEarth uses only
                    Lignisul MSM, which is the first patented brand of MSM specifically developed as ultrapure food grade for human consumption as a nutritional supplement. Lignisul is a non-animal based nitritional supplement derived from pine trees.
                    Unlike most forms of MSM, including those imported from China, which are synthetic, Lignisul is an all-natural source of MSM. In addtion, it has been certified Kosher-Parve by the Kosher Overseers Associates of America.
                </p>
                <!-- End Product Description -->
                <!-- Populate with shipping info -->

                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "oxyearth"
                </div>
            </div>



        </div>


    </div>
</div>
<script>
    $(function() {

        initPage();

    })
</script>
