body{
  background-color: rgb(235, 242, 254);
  background: $image_background;
  background: $image_background, linear-gradient(to bottom, rgb(235, 242, 254), rgb(127, 128, 106));
  background-position: bottom center;
  background-repeat: repeat-x;
  padding-top: 0px;
  padding-bottom: $value_spacing-padding;

  .container{
    position: relative;
    margin-top: 0px;
    padding-top: $value_spacing-padding;

    @media screen and (max-width: $value_md){
      padding-top: 60px;
    }
  }

  @media screen and(max-width: $value_md){
    h1{
      margin-bottom: $value_spacing-margin;
    }
  }

}
