<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Health<span>News</span></h1>

                    <div class="thumbnail">
                        <img src="/News/articles/msm/MSM.jpg" alt="MSM" />
                    </div>

                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">

                <div class="text-center">
                    <p>
                        MSM
                    </p>

                    <p>
                        (Methylsulfonyl Methane)<br /> The Fastest Growing Supplement?<br />
                    </p>
                </div>
                <p>
                    The human body is consistently at work trying to replace old, worn out cells with healthy new ones. When the body has produced all of the necessary materials needed to do this job, it is quite easily done. However, there are deficiencies in our bodies
                    that prevent this simple process from taking place as nature intended. When there are deficiencies, the cells that are produced may be weak or malformed. One of the most common deficiencies is the usable organic sulfur known as Methylsulfonyl
                    Methane or MSM. This nonmetallic element is so essential to life that it is found in every cell of every plant and animal. MSM is a naturally-occurring nutrient found in normal human diets. This organic sulfur is in the form of a stable,
                    white crystal-like powder. It is not used as a pharmaceutical drug but a dietary supplement. It is important that the body has an abundant supply of this mineral because without it, life as we know it would not exist. The sulfur in
                    our bodies maintains the structure of the proteins of the body, helps the formation of keratin, which is necessary for nail and hair growth, and aids the production of immunoglobulin that maintains the normal immune system. Therefore,
                    it is extremely important for one to ensure that the body has enough MSM to carry out the day to day functions. Ideally, one could get all of the nutrients needed for the body by simply eating healthy. However, in a fast food society,
                    that is easier said than done. Today we are heating and processing too many of our foods. The highest concentration of MSM is found in milk. Fresh fruits and vegetables are another good source for MSM, as well as seafood and meats.
                    The problem is that the washing and steaming of these foods, which is necessary, unfortunately reduces the MSM. Even if one worked tirelessly at ensuring that the diet is filled with sulfur-rich foods, there is always the one issue
                    that cannot be avoided--age. As one ages, the deficiency grows even more profound.
                </p>
                <p>
                    It is only natural that when a deficiency occurs in the body, symptoms of problems arise. These problems can range from just annoying nuisances to severe medical issues. MSM has been tested in lab studies on several of the common ailments to determine
                    who should take this supplement. These studies revealed surprising results. Numerous ailments were positively affected by MSM.
                </p>
                <p>
                    One minor problem that MSM has been able to produce successful results in hair, skin and nail problems. MSM is needed for the synthesis of collagen and keratin. Collagen is needed to repair any damaged skin due to cracking, wrinkling or scar tissue. Keratin
                    is a protein substance that is needed for the health and maintenance of the skin, nails and hair. Problems such as nail fungus, skin damage and unhealthy hair may not be life threatening, but they do plague almost each and every one
                    of us at one time or another. Now there is a way to get rid of these pesky problems - take a MSM supplement.
                </p>
                <p>
                    Some problems that are a little more serious are allergens, toxins, and parasites. While MSM is not a cure for allergens, it does have a remarkable affect on people who suffer with this condition. It is important that the cells in your body are flexible
                    and permeable so that the foreign substances in your body can be flushed out easily. People with allergies who supplement their diet with MSM recover faster and better from poison ivy, insect bites and other adverse reactions with
                    nature. MSM has shown amazing antiparasitic action against intestinal worms such as roundworms, Trichomonas and others. These parasites attach themselves to the intestinal lining where thy live, reproduce and rob the body of nutrients.
                    The MSM blocks parasites by attaching itself to the place that the worm would otherwise attach. When the parasite cannot attach itself, it is simply flushed out of the system.
                </p>
                <p>
                    An important condition that can be influenced by the MSM supplement is diabetes. Sulfur is one of the components of insulin, the hormone that regulates carbohydrate metabolism. Studies show that insufficient sulfur may result in decreased insulin production.
                    It is also suggested that the lack of sulfur would make the cells so rigid and impermeable that they are unable to absorb sugar form the blood effectively. Thus, blood sugar levels may elevate.
                </p>
                <p>
                    Since MSM is only a dietary supplement, anyone and everyone can benefit from it. No medical referral is necessary. Another good reason to start taking MSM is because of its extremely low toxicity category. It has a toxicity profile similar to that of
                    water. Dosage depends mainly on body weight, age and the severity of deficiency symptoms. Normal daily MSM supplements should fall in the range of 2000 mg to 6000 mg daily.
                </p>
            </div>



        </div>


    </div>
</div>
