<nav class="navbar navbar-healthsprings">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar-collapse" aria-expanded="false" aria-controls='navbar'>
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top"></span>
              <span class="icon-bar middle"></span>
              <span class="icon-bar bottom"></span>
            </button>

            <a class="navbar-brand hidden-lg hidden-md hidden-sm" data-route data-route-name="home">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="200" viewBox="0, 0, 503.55, 88.946">
                    <g id="Layer_1" transform="translate(-321.403, -305.027)">
                      <text transform="matrix(1, 0, 0, 1, 499.98, 352)">
                        <tspan style="font-family: Arial; font-weight: bolder;" x="-90.271" y="17.5" font-family="Arial-Black" font-size="50" fill="#9A9A9A">Health</tspan>
                      </text>
                      <text transform="matrix(1, 0, 0, 1, 667.163, 360.737)">
                        <tspan x="-99.531" y="9.763" font-family="Garamond-Bold" font-size="50" fill="#75993F">Spring</tspan>
                      </text>
                      <text transform="matrix(1, 0, 0, 1, 776.715, 356)">
                        <tspan x="-69.844" y="14.5" font-family="Garamond-Bold" font-size="50" fill="#5A5A5A">.net</tspan>
                      </text>
                      <path d="M347.701,384.5 L322.468,324.066 L321.403,305.027 C321.403,305.027 348.185,332.356 354.044,342.673 C359.904,352.991 367.243,366.683 367.243,366.683 L367.661,384.5 z" fill="#BCC757"/>
                      <path d="M368.243,384.5 L367.861,366.683 C367.861,366.683 388.441,333.22 405.765,323.029 C407.885,321.782 400.233,352.983 395.292,362.288 C386.16,379.487 375.505,384.5 375.505,384.5 z" fill="#BCC757"/>
                    </g>
                  </svg>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="main_navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a data-route data-route-name="home">Home</a></li>

                <!-- Start Product Dropdown Menu -->
                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>

                    <!-- Start actual Dropdown Menu -->
                    <ul class="dropdown-menu" type="">

                        <!-- Start Systemic Enzimes Sub-dropdown menu -->
                        <li>
                            <span class="dropdown-header">Systemic Enzimes</h1></span>

                            <li><a data-route data-route-name="vitalzym">Vitalzym Xe</a></li>
                            <li><a data-route data-route-name="vitalzym">Vitalzym gelcaps</a></li>
                            <li><a data-route data-route-name="vitalzym">Vitalzym Original</a></li>
                            <li><a data-route data-route-name="vitalzym">Vitalzym Cardio</a></li>

                            <!-- Start Systemic Enzimes Sub-dropdown menu -->

                            <li class="divider" role="separator"></li>

                            <li>
                                <span class="dropdown-header">Oxygen Supplements</span></li>
                            <li><a data-route data-route-name="homozon">Homozon</a></li>
                            <li><a data-route data-route-name="superoxyflush">Super OxyFlush</a></li>
                            <li><a data-route data-route-name="oxyflush">OxyFlush</a></li>
                            <li><a data-route data-route-name="oxylift">OxyLift</a></li>
                            <li><a data-route data-route-name="colosan">Colosan</a></li>
                            <li><a data-route data-route-name="colosan">Colosan Caps</a></li>

                            <li class="divider" role="separator"></li>

                            <li>
                                <span class="dropdown-header">Immune Support</span></li>
                            <li><a data-route data-route-name="betaglucan">Beta Glucan</a></li>
                            <li><a data-route data-route-name="colloidal">Colloidal Silver</a></li>

                            <li class="divider" role="separator"></li>
                            <li>
                                <span class="dropdown-header">Minerals</span></li>
                            <li><a data-route data-route-name="mincol">MinCol</a></li>
                            <li><a data-route data-route-name="oxyearth">OxyEarth</a></li>
                            <li><a data-route data-route-name="algazim">Algazim</a></li>



                            <li class="divider" role="seporator"></li>

                            <li>
                                <span class="dropdown-header">Specialties</span></li>
                            <li><a data-route data-route-name="hepasan">Hepasan - Unique L, K, &amp; GB Cleanser</a></li>
                            <li><a data-route data-route-name="ketsumeisei">Ketsumeisei - Type II Diabetes - The Natural Way</a></li>
                            <li><a data-route data-route-name="ala">Alpha Lipoic Acid</a></li>

                            <li class="divider" role="seporator"></li>

                            <li><a data-route data-route-name="healthlibrary">Health library</a></li>

                    </ul>
                    </li>

                    <!-- <li class=""><a href="#">Login</a></li> -->
                    <!-- <li class=""><a href="#">Blog</a></li> -->
                    <li class="hidden-md hidden-sm"><a data-route data-route-name="about_us">About Us</a></li>
                    <li class=""><a data-route data-route-name="view_cart">View Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                    <li class="">
                      <iframe src="https://www.asecurecart.net/server/cart.aspx/healthsprings?report=1&tablemode=1" height="40px" width="120px" style='border-style: none; overflow: hidden; margin: 0px;'></iframe>
                    </li>


                    <!-- This will only show up on mobile devices -->
                    <li class="dropdown hidden-lg">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="hidden-lg hidden-xs"><a data-route data-route-name="about_us">About Us</a></li>
                            <li><a data-route data-route-name="news">News</a></li>
                            <li><a data-route data-route-name="immune_system">Immune System</a></li>
                            <li><a data-route data-route-name="ketsumeisei">Feature Product</a></li>
                            <li class="divider" role="seporator"></li>
                            <li class="hidden-xs"> <span class="dropdown-header">Call Toll Free <span class="display_inline-block"><i class="fa fa-phone" aria-hidden="true"></i> (800) 416-7114</span></span></li>
                        </ul>
                    </li>
            </ul>

            <p class="navbar-text hidden-lg hidden-md hidden-sm">
              Call Toll Free <strong><i class="fa fa-phone" aria-hidden="true"></i> (800) 416-7114</strong>
            </p>
            <!-- End of mobile devices navbar portion -->

            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top: 10px; padding-left: 0px;">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhealthpsrings.net&width=150&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=208646522874562" width="107" height="26" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </li>
                <li><a data-route data-route-name="facebook" target="_blank" class="padding-sides_low"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
                <li><a data-route data-route-name="google" target="_blank" class="padding-sides_low"><i class="fa fa-google-plus-official fa-lg" aria-hidden="true"></i></a></li>
            </uL>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
