<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Health<span>News</span></h1>

                    <div class="thumbnail">
                        <img src="/News/articles/Beta-1_3-D_Glucan_Immediate_Press_Release/betaglucan500se.jpg" alt="Beta 1, 3d" />
                    </div>

                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">

                <div class="text-center">
                    <p>
                        Beta Glucan News
                    </p>

                    <p>
                        Studies indicate that glucan produces and enhanced state of the host defense against bacterial infections
                    </p>
                    <p>
                        Experts Urge Steps to Stem Antibiotic Resistance
                    </p>
                </div>
                <p>
                    Health experts are calling for changes in antibiotic use to slow the spread of drug-resistant infections such as tuberculosis. Resistance emerges when antibiotics alter the bacterial setting, eliminating sensitive strains and giving a survival advantage
                    to germs that can endure the drug. Therefore, each time an antibiotic is used, the risk that a patient will become infected with, or become a carrier of, a resistant organism increases.
                </p>
                <p>
                    A recent study conducted by the federal Centers for disease Control and prevention found that more than one-third of the 150 million antibiotic prescriptions written annually for Americans who are not hospitalized was unnecessary. however, research has
                    shown that changing how the drugs are used could have a substantial impact in reducing resistance. for example, a focus on directly observed therapy in which patients take their medicine in the presence of health care professionals
                    helped to affect an 80 percent drop in new cases of multi-drug resistant TB in New York between 1992 and 1996. Paula I. Fujiwara, head of TB control in New York City's health department, noted, " You have to have a program in place
                    to monitor, to give the drugs correctly, in order to prevent them being wasted." "Fluconazole-Resistant C. Albicans May Be Transmitted Orally" Reuters Health Information Services (8/25/97)
                </p>
                <p>
                    New research published in the July 15 issue of AIDS suggests that Candida albicans may be transmitted between HIV-positive sexual partners, an event that would explain the increased rate of gluconazole-resistant strains of C. albicans. Dr. Francoise Dromer
                    and colleagues at the Pasteur Institute investigated the oral flora of ten couples with HIV and found that the "genetic diversity of the clones with one DNA subtype was specific to a given patient or a given couple." the team also
                    noted that fluconazole-resistant strains were present in three individuals who had never received azole treatment. "The fact that the couples tended to share genetically indistinguishable clones [is] highly suggestive of transmission
                    between partners," the scientists stated. The following are a series of one line quotes from the scientific literature. Cites may be obtained off Medline.
                </p>
                <p>
                    The emergence of multiple antibiotic-resistant microorganisms has led to a search for alternatives to traditional therapeutic regimens. Beta Glucan, and immunomodulator., can selectively enhance the microbicidal activities of neutrophils and macrophages
                    without stimulating pro-inflammatory cytokine production. Glucan is a potent reticuloendothelial-modulating agent whose immunobiological activity is mediated in part by an increase in the number and function of macrophages. Lysozyme
                    concentration were increased approximately sevenfold in some studies. Biologic response modifiers, life Beta Glucan, will modulate immunity, modify neoplastic (cancer) disease and increase resistance to microbial challenge. Glucan
                    can enhance some elements of the immune system against staphylococcal infections. Beta Glucan has been found to protect against infection with Babesia microti, and intra-erythrocytic protozoan parasite, nonspecific protection. Glucan
                    has been shown to significantly inhibit renal necrosis associated with systemic staphylococcal diseases and showed enhanced survival. Glucan has been shown to increase peripheral leukocyte counts. Beta Glucan induced increase in phagocytosis
                    and induced hyperplasia of macrophages. Glucan significantly enhanced survival when challenged systemically with Staphylococcus aureus.
                </p>
                <p>
                    These studies indicate that glucan confers and enhanced state of the host defense against bacterial infections. With orally administered glucan, interleukin-2 was evaluated in treated animals and showed and increase. There was significant increase in
                    polymorphonuclear leukocytes and peripheral monocyte number. A significant increase in number and in vitro candidacidal activity was also observed for alveolar (lung) macrophages. The resistance towards systemic infection with Candida
                    albicans of Staphylococcus aureus increased, significantly reducing the growth of microorganisms in the kidneys of infected animals. Toxicological studies showed that glucan is highly tolerated. In the area of protective capacity in
                    respiratory infection, Beta Glucan significantly increased rated of phagocytosis and killing of Staphylococcus aureus. Beta Glucan greatly increased numbers of macrophages in the lungs of glucan treated rats; the lungs of glucan-treated
                    mice appeared normal and that glucan can enhance intrapulmonary bacterial killing. The ability of glucan was shown to increase the number of lung macrophages resulting in increased bacterial ingestion. Particulate glucan resulted in
                    significant reductions in the growth of a syngeneic anaplastic mammary carcinoma and melanoma and showed enhance survival. Studies demonstrate that prophylaxis with Beta Glucan in combination with antibiotics provided enhance protection
                    against lethal challenge with Esherichia coli or Staphylococcus aureus as compares with the use of antibiotics alone.
                </p>

            </div>



        </div>


    </div>
</div>
