<!-- facebook sdk -->
<div data-partial data-partial-name="widget_facebook-sdk"></div>
<!-- Start Top Section  -->
<div class="row low-gutter">
    <!-- Logo Start -->
    <div class='col-md-3' data-partial data-partial-name="widget_logo">

    </div>
    <!-- Logo End -->

    <div class="col-md-9">
        <!-- Top Banner Start -->
        <div id="banner_wrapper" data-partial data-partial-src="/public/components/banner/banner_plain.html">
            <!-- currently using: public/components/banner/banner_plain.html -->
        </div>
        <!-- Top Banner End -->

        <!-- Primary Navbar Start -->
        <!-- Currently using navbar in: public/components/navbar/navbar.html -->
        <div id="navbar_wrapper" data-partial data-partial-src="/public/components/navbar/navbar.html"></div>
        <!-- Primary Navbar End -->
    </div>

    <!-- EndTop Section  -->
</div>

<!-- Start Body -->
<div class="row low-gutter display_flex-lg display_flex-md">
    <!-- Start left Section -->
    <div class="col-md-9">

        <!-- Start Mid-section left -->
        <div class="row low-gutter-inner">

            <!-- Start secondary Navbar -->
            <div class="col-md-4" id="secondarynavbar_wrapper" data-partial data-partial-src="/public/components/secondarynavbar/secondarynavbar.html">
                <!-- Currently using navbar in: public/components/secondarynavbar/secondarynavbar.html -->
            </div>
            <!-- End secondary Navbar -->

            <!-- Start Poster -->
            <div class="col-md-8" id="poster_wrapper" data-partial data-partial-src="/public/components/poster/empty_poster.html">
                <!-- currently using public/components/poster/empty_poster.html -->
            </div>
            <!-- End Poster -->

        </div>
        <!-- End Mid-section left -->

        <!-- Start Page Content -->
        <div id="content_wrapper" data-partial data-partial-name="content">
            <!-- Currently using public/components/content/news_content.html -->
        </div>
        <!-- End Page Content -->

    </div>
    <!-- End left Section -->

    <!-- Start right sidebar -->
    <div class="col-md-3 display_flex-lg display_flex-md" id="rightsidebar_wraper" data-partial data-partial-name="component_rightsidebar">
        <!-- currently using: public/components/rightsidebar/rightsidebar_plain.html -->
    </div>
    <!-- End right sidebar -->

</div>
<!-- End Body -->

<!-- Start lower footer section -->
<div class="row">
    <!-- Start Footer Nav -->
    <div class="col-md-9" id="footer_wrapper" data-partial data-partial-src="/public/components/footer/footer.html">
        <!-- Currently Using: public/components/footer/footer.html -->
    </div>
    <!-- End Footer Nav -->

    <!-- Start Footer Copyright -->
    <div class="col-md-3">
        <div data-partial data-partial-name="component_copyright"></div>
    </div>
    <!-- End Footer Copyright -->

</div>

<div id="disclaimer_wrapper" data-partial data-partial-name="component_disclaimer">

</div>
<!-- End lower footer section -->
<script>
    $(function() {
        /**
         * initPage builds all.
         */
        initPage();
    })
</script>
