<div class="secondary-navbar">
    <h1>Call Toll Free <span class="display_inline-block"><i class="fa fa-phone" aria-hidden="true"></i> (800) 416-7114</span></h1>
    <div class="list-group margin-bottom_none">
        <div class="dropdown list-group-item">
            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customer Service</span>
            <ul class="dropdown-menu">
                <li><a data-route data-route-name="privacy_policy">Pirvacy Policy</a></li>
                <li><a data-route data-route-name="return_policy">Return Policy</a></li>
                <li><a data-route data-route-name="terms_conditions">Terms and Conditions</a></li>
            </ul>
        </div>
        <a class="list-group-item" data-route data-route-name="about_us">About Us</a>
        <a class="list-group-item" data-route data-route-name="news">News</a>
        <a class="list-group-item" data-route data-route-name="immune_system">Immune System</a>
        <a class="list-group-item" data-route data-route-name="ketsumeisei">Feature Product</a>
        <div class="list-group-item heading-wrapper">
            <h4 class="list-group-item-heading">Products</h4>
        </div>
        <div class="dropdown list-group-item">
            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Oxygen Therapy</span> <span class="glyphicon glyphicon-plus"></span>
            <ul class="dropdown-menu">
                <li><a data-route data-route-name="homozon">Homozon </a></li>
                <li><a data-route data-route-name="superoxyflush">Super OxyFlush</a></li>
                <li><a data-route data-route-name="oxyflush">OxyFlush </a></li>
                <li><a data-route data-route-name="oxylift">OxyLift </a></li>
                <li><a data-route data-route-name="colosan">Colosan </a></li>
                <li><a data-route data-route-name="colosan">Colosan Caps </a></li>
            </ul>
        </div>
        <div class="dropdown list-group-item">
            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Minerals</span> <span class="glyphicon glyphicon-plus"></span>
            <ul class="dropdown-menu">
                <li><a data-route data-route-name="mincol">MinCol </a></li>
                <li><a data-route data-route-name="oxyearth">OxyEarth </a></li>
                <li><a data-route data-route-name="algazim">Algazim - Norwegian Kelp </a></li>
            </ul>
        </div>
        <div class="dropwdown list-group-item">
            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Systemic Enzymes</span> <span class="glyphicon glyphicon-plus"></span>
            <ul class="dropdown-menu">
                <li><a data-raoute data-route-name="vitalzym">Vitalzym Xe</a></li>
                <li><a data-raoute data-route-name="vitalzym">Vitalzym gelcaps</a></li>
                <li><a data-raoute data-route-name="vitalzym">Vitalzym Original</a></li>
                <li><a data-raoute data-route-name="vitalzym">Vitalzym Cardio </a></li>
            </ul>
        </div>
        <div class="dropdown list-group-item">
            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Immune Health</span> <span class="glyphicon glyphicon-plus"></span>
            <ul class="dropdown-menu">
                <li><a data-route data-route-name="betaglucan">Beta Glucan</a></li>
                <li><a data-route data-route-name="colloidal">Colloidal Silver  30-150 ppm</a></li>
            </ul>
        </div>
        <div class="drpdown list-group-item">
            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Specialties</span> <span class="glyphicon glyphicon-plus"></span>
            <ul class="dropdown-menu">
                <li><a data-route data-route-name="hepasan">Hepasan-Special Liver, Kidney, Gallbladder Cleanser</a></li>
                <li><a data-route data-route-name="ketsumeisei">Ketsumeisei - The Natural Answer for Diabetes</a></li>
                <li><a data-route data-route-name="ala">Alpha Lipoic Acid</a></li>
            </ul>
        </div>
        <div class="list-group-item">
            <a data-route data-route-name="healthlibrary">Health Library</a> <span class="glyphicon glyphicon-plus"></span>
        </div>
    </div>

</div>
