<div class="panel panel-sidebar" style="position:relative;">

    <div class="panel-heading">
        <h1>Your website packed with features.</h1>
    </div>

    <ul class="tutorial-nav" data-spy="affix" data-offset-top="235" data-offset-bottom="100">
        <li>
            <a class="" href="#builtonbootstrap337">Built on bootstrap</a>
            <ul>
                <li><a href="#underlinedtext">Underlined text</a></li>
                <li><a href="#smalltext">Small text</a></li>
                <li><a href="#bold">Bold</a></li>
                <li><a href="#italics">Italics</a></li>
                <li><a href="#alternateelements">Alternate Elements</a></li>
                <li><a href="#blockquotes">Blockquotes</a></li>
                <li><a href="#blockquoteoptions">Blockquote Options</a></li>
            </ul>
        </li>
        <li>
            <a href="#filestructure">File Structure</a>

            <ul>
                <li><a href="#devfolder">Dev Folder</a></li>
                <li><a href="#publicfolder">Public Folder</a></li>
                <li><a href="#gulpfilejs">GulpFile.js</a></li>
                <li><a href="#envjs">Env.js</a></li>
                <li><a href="#environmentvariables">Environment Variables</a></li>
                <li><a href="#urlvariable">URL variable</a></li>
                <li><a href="#packagejson">package.json</a></li>
                <li><a href="#devreadmemd">DevReadMe.md</a></li>
            </ul>

        </li>

        <li>
            <a href="#addinganewpage">Adding A New Page</a>
            <ul>
                <li><a href="#basicpagefolderstructure">Basic Page Folder Structure</a></li>
                <li><a href="#titleandmetatags">Title and Meta Tags</a></li>
                <li><a href="#templatepartials">Template Partials</a></li>
            </ul>
        </li>

        <li><a class="" href="#initpage">Init Page</a></li>
        <li>
            <a class="" href="#partials">Partials</a>
            <ul>
                <li><a href="#loadingapartialformasrc">Loading a partial from a src</a></li>
                <li><a href="#loadingapartialfromaname">Loading a partial from a name</a></li>
                <li><a href="#mustachevariables">Mustache Variables</a></li>
            </ul>
        </li>

        <li>
            <a href="#routes">Routes</a>
            <ul>
                <li><a href="#registeringroutes">Registering Routes</a></li>
                <li><a href="#usingroutes">Using Routes</a></li>
                <li><a href="#routesinmustachevariables">Routes in Mustache Variables</a></li>
            </ul>
            <li>

                <li>
                    <a href="#forms">Forms</a>
                    <ul>
                        <li><a href="#formpartials">Form Partials</a></li>
                        <li><a href="#redirectlink">Redirect Link</a></li>
                        <li><a href="#forminputs">Form Inputs</a></li>
                    </ul>
                </li>

                <li>
                    <a class="" href="#markdown_container">Back to top</a>

                </li>
    </ul>
</div>
