<div class="panel panel-blank">
  <div id="markdown_container" class="panel-body"></div>
</div>

<script>
$(function(){
  $.ajax({
    url : "/readme.md",
    dataType: "text"
  })
  .done(function(data){
    var converter = new showdown.Converter(),

      html      = converter.makeHtml(data);

          $("#markdown_container").html(html);
  })
});
</script>
