<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Min<span>Col</span></h1>
                    <h2>Special Mineral Colloid</h2>

                    <div class="thumbnail">
                        <img src="mincol.jpg" alt="Mincol" />
                    </div>

                    <h3>$26.95</h3>
                    <h4><s>$29.95</s> Retail Price</h4>
                    <p>
                      250 Capsules
                    </p>

                    <div id="form_body_wrapper" data-partial data-partial-name="component_form-body" data-partial-values>
                      "route_redirectLink" : "mincol"

                      "inputs_hidden":
                          "disStr" : "1,1,26.95",
                          "describe" : "HSMNCL",
                          "id" : "Min-Col 250 capsules",
                          "price" : "26.95",
                          "weight" : ".00"

                    </div>


                    <!-- <form class="form-inline" method=post action="http://www.asecurecart.net/server/cart.aspx/healthsprings">

                        <input type="hidden" name="ReturnLink" VALUE="http://www.healthsprings.net/rbti/mincol/mincol.html">
                        <input type="hidden" name="Weight" VALUE=".00">
                        <input type="hidden" name="DiscStr" value="1,1,26.95">
                        <input type="hidden" name="Describe" VALUE="HSMNCL">
                        <input type="hidden" name="ID" VALUE="Min-Col 250 capsules">

                        <div class="input-group">
                            <div class="input-group-addon">Qty</div>
                            <input type="text" class="form-control" name="Qty" size=3 value="">
                        </div>

                        <br />
                        <br />
                        <button type="submit" class="btn btn-primary btn-block btn-lg"> <i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>

                    </form> -->

                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer">
                    </div>



                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->
                <br />
                <br />
                <br />
                <p>
                    Colloidal size particles extracted from soft rock phosphate, from fossil deposits of ancient bones. This is a source of calcium and other minerals in a phosphatic colloidal form, and is also a rich source of the phosphate anion. Three capsules supply
                    324 mg of elemental calcium. Min-Col™ is available in bottles of 250 capsules.
                </p>
                <p>
                    This is probably the best calcium mineral supplement available. We have know people in their 50's grow taller using this supplement.
                </p>
                <!-- End Product Description -->
                <!-- Populate with shipping info -->
                <!-- <div id="shipping_wrapper" data-partial data-partial-name="widget_shipping"></div> -->

                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "mincol"
                </div>

            </div>



        </div>


    </div>
</div>
<script>
    $(function() {
          // Enable popups
        $('[data-toggle="popover"]').popover();
        initPage();

    })
</script>
