<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Ketsu<span>meisei</span></h1>
                    <h2>For improved cellular oxygen.</h2>
                    <div class="thumbnail">
                        <img src="/Ketsumeisei/Ketsumeisei.jpg" alt="Homozon" />
                    </div>

                    <a target="_blank" href="http://www.americaninstituteofeasternmedicine.com/about_wang.html">Meet Dr. Wang</a><br />
                    <a data-toggle="modal" href="#ketsumeisel_faq_modal">Ketsumeisel FAQ</a><br />
                    <a target="_blank" href="http://www.americaninstituteofeasternmedicine.com/">Clinical Studies and Research</a>


                    <br />
                    <h3>$149.00</h3>
                    <p class="alert alert-info">180 Capsules</p>

                    <form class="form" method=post action="http://www.asecurecart.net/server/cart.aspx/healthsprings">
                        <div align="center">

                            <input type="hidden" name="ReturnLink" VALUE="http://www.healthsprings.net/Ketsumeisei/ketsumeisei.html">
                            <input type="hidden" name="Weight" VALUE=".00">
                            <input type="hidden" name="Ship" value="x">
                            <input type="hidden" name="Show" value="http://www.healthsprings.net/Vitalzym/vitalzym_oxyflush.html">
                            <input type="hidden" name="DiscStr" value="1,1,149.00">
                            <input type="hidden" name="DiscItem" value="N">
                            <input type="hidden" name="Describe" VALUE="HSKTS30">
                            <input type="hidden" name="ID" value="Ketsumeisei 30 packets" />

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">Qty.</div>
                                    <input class="form-control" name="Qty" size=1 value="">
                                </div>
                            </div>

                            <div class="from-group">
                                <div class="checkbox">
                                    <label>
                                  <input type="checkbox" Name="AddOn1" Value="Free Type II Diabetes CD"> Type II Diabetes CD
                                  </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" Name="AddOn2" Value="Free Enzyme Therapy CD"> Enzyme Therapy CD
                                  </lable>
                                </div>
                              </div>

                              <br />
                              <br />
                              <button type="submit" class="btn btn-primary btn-block btn-lg"> <i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </form>

                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer"></div>

                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->
                <p>
                    Ketsumeisei is good for Type II diabetes, its complications and insulin resistant syndromes. Ketsumeisei’s systemic effects can be taken for metabolism and microcirculation disturbances in the body. Free fatty acid in the body is insulin resistant material.
                    In clinical studies, Ketsumeisei clearly decreases free fatty acid in Type II diabetics. The product may also decrease glucose indirectly by correcting insulin resistance as a result of the decrease of free fatty acid. Microcirculation
                    disturbance can cause multiple complications.
                </p>
                <hr />

                <p>
                    Ketsumeisei is indicated for the maintenance of normalized blood sugar levels, insulin resistance disorders, specifically
                </p>
                <ul>
                    <li>Type II diabetes mellitus</li>
                    <li>Hyperlipidemia</li>
                    <li>Hyperinsulinemia</li>
                    <li>Hypertension</li>
                    <li>Arteriosclerosis</li>
                    <li>Arteriosclerotic cardio- and craniovascular diseases</li>
                    <li>Lipid metabolism disorders and obesity.</li>
                </ul>
                <p>
                    Our proprietary mix of ingredients (including Flavonoid & Daidzein in Fruit Kudzvine, Carthamidin in Salflower, and Saponin in Korean Ginseng) may improve body microcirculation.
                </p>

                <hr />
                <p class="alert alert-info">
                    <strong>Serving Size:</strong> 3 capsules<br />
                    <strong>Servings per bottle:</strong> 60<br />
                    <strong>Amount per Serving:</strong> 3,000 mg
                </p>
                <p>
                    Proprietary blend contains: Flat Stem Milk Vetch Seed, Chinese Wild Yam, Safflower, Milk Vetch Root, Cape Jasmine Fruit, Kudzu Vine Root, Licorice Root, Korean Ginseng.
                </p>
                <p>
                    Contains no artificial colors, flavors, or preservatives. No wheat, gluten, soy or talc.
                </p>
                <p>
                    Suggested Use: As a dietary supplement, take 1 to 2 packet(s) per day without food, or as recommended by your healthcare professional. Take immediately after opening.
                </p>
                <hr />
                <p class="alert alert-warning">
                  <strong>WARNING:</strong> If you are pregnant or lactating, consult a healthcare professional before using. Ketsumeisei improves blood circulation, so the intake of blood thinners may need to be reduced or stopped under a doctors supervision. Ketsumeisei cannot be taken by patients with a history of hypersensitivity to any of its components. Keep out of reach of children. Consult your physician if an allergic reaction occurs. Do not use this product if the safety seal is broken.
                </p>
                <!-- End Product Description -->

                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "ketsumeisei"
                </div>
            </div>



        </div>

    </div>
</div>

<!-- FAQ Modal Start -->
<div id="ketsumeisel_faq_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Frequently Asked Questions Answered by Dr. Wang:</h4>
                </div>
          <div id="ketsumeisei_faq_wrapper" data-partial data-partial-src="/Ketsumeisei/ketsumeisei_faq.html" class="modal-body">

          </div>
        </div>
    </div>
</div>
<!-- FAQ Modal End -->

<script>
  $(function(){
    initPage();
  })
</script>
