
<p>
    <strong>What percentage of Ketsumeisei is absorbed by the body?</strong>
</p>
<p>
    More than 90% is absorbed if taken on an empty stomach.
</p>
<p>
    <strong>What are the known side effects of Ketsumeisei in Type II diabetes patients?</strong>
</p>
<p>
    None at present.
</p>
<p>
    <strong>Do these side effects (if any) differ in children with Type II diabetes?</strong>
</p>
<p>
    No side effects have been reported.
</p>
<p>
    <strong>Was Ketsumeisei designed to be used as primary treatment or in conjunction with oral or injectable blood-glucose-lowering agents?</strong>
</p>
<p>
    For patients in their pre-diabetic or initial stages, Ketsumeisei can be used alone. For patients in more advanced stages, it is better to use Ketsumeisei in conjunction with those agents. Ketsumeisei is especially effective in the treatment and prevention
    of complications. In most cases of Type II diabetes, the cause of death is complications. Scientifically prepared medications only convert glucose to fat and other substances, or prevent glucose absorption in order to lower the glucose level in blood.
</p>
<p>
    <strong>Is Ketsumeisei more effective when used with other blood glucose maintenance medications?</strong>
</p>
<p>
    Because Ketsumeisei lowers the blood glucose level through lowering of insulin resistance and promotion of metabolism, it is best to use it in conjunction with the traditional blood-glucose-lowering-agents. Some patients can reduce the intake amount of
    blood glucose lowering agents after their blood glucose goes down to an adequate level.
</p>
<p>
    <strong>Does Ketsumeisei effect any other following common diabetes complications: heart disease &amp; stroke, kidney disease, eye, foot or skin complications, neuropathy &amp;amp; nerve damage, gastro paresis, depression?</strong>
</p>
<p>
    The common causes for diabetes complications are metabolic and microcirculatory failures. Ketsumeisei is effective for these complications.
</p>
<p>
    <strong>What is the efficacy of taking Ketsumeisei in a preventative capacity for individuals who are at high risk for Type II diabetes?</strong>
</p>
<p>
    We can expect good results.
</p>
<p>
    <strong>Is Ketsumeisei safe for people with any of the following conditions: lymphoma, thyroid issues, patients taking blood thinners, patients undergoing chemotherapy?</strong>
</p>
<p>
    Ketsumeisei improves blood circulation, so the intake of blood thinners would need to be reduced or stopped. Ketsumeisei has other advantages, too.
</p>
<p>
    <strong>How long did the discovery/formulation process for Ketsumeisei take?</strong>
</p>
<p>
    A prototype of the natural remedy was created around 1990. After refinements, we succeeded in commercializing it in 2001.
</p>
<p>
    <strong>How long must a patient take Ketsumeisei before results are evident?</strong>
</p>
<p>
    For an average of two months. Many patients see some results in one month.
</p>
<p>
    <strong>What benefits does Ketsumeisei offer for individuals who do not have Type II diabetes?</strong>
</p>
<p>
    Individuals who are totally healthy need not take it. Basically, Ketsumeisei is appropriate for people with insulin resistance syndrome or microcirculation failures. This includes diabetes, hypertension, angina, myocardial infarction, arteriosclerosis,
    obesity (insulin resistance syndrome), eyestrain, anapeiratic red-eye, glaucoma, cataract, constipation, angitis, phlebeurysm, aftereffects of stroke, vascular dementia, side effects of anticancer agents, postoperative recovery, intestinal adhesion,
    congestion resulting from injury, menstrual irregularities, stiff shoulder, coptosis, and anemia.
</p>
<p>
    <strong>Is there a particular diet that works most efficient when taking Ketsumeisei?</strong>
</p>
<p>
    You need to avoid excessive eating and drinking, and engage in regular restrictive diet and physical exercise.
</p>
<p>
    <strong>Are there any foods, supplements on medications that should be avoided when taking Ketsumeisei?</strong>
</p>
<p>
    You are not prohibited from taking anything. You can substitute blood thinners such as aspirin, although it is not recommended because of the side effects such as gastrointestinal ulceration and bleeding.
</p>
<p>
    <strong>Is Ketsumeisei recommended for borderline diabetics? Why or why not?</strong>
</p>
<p>
    It takes time for the Type II diabetes constitution to form. Metabolism and microcirculation failures already exist before the blood glucose level rises to such extent that it fulfills the diagnostic criteria.
</p>
<p>
    <strong>What are the advantages of taking Kestsumeisei instead of insulin?</strong>
</p>
<p>
    Ketsumeisei can’t be used as a substitute for insulin. Ketsumeisei works better if used with insulin after the insulin resistance is lowered. This scheme is particularly effective in the prevention and treatment of complications. In general, while insulin
    lowers the blood glucose level, complications are advancing fast. If Ketsumeisei is taken at an early stage, it is possible that insulin will not be necessary.
</p>
<p>
    <strong>Can Ketsumeisei be mixed with water/tea/soda if people do not like the taste?</strong>
</p>
<p>
    Alcohol and tea may not be good to mix it with.
</p>
<p>
    <strong>What tests/clinical studies have been performed regarding the interaction of Ketsumeisei and medications currently used including: Sulfonylureas; Megitindes; Biguanides; Thiazolidinediones; Alpha-glucosidase inhibitors; Pramlintide; Exanatide?</strong>
</p>
<p>
    Basically, you should not stop taking the medications you have been taking when you start taking Ketsumeisei. In our clinical studies, the effects of Ketsumeisei before and after its start of use were compared, as well as those between patients who took
    Ketsumeisei and the control group. Interactions of multiple medications were not analyzed.
</p>
<hr />
<p>
    Ketsumeisei does not promote the secretion of insulin. Instead, it is effective mainly in the prevention and treatment of complications. The lowered blood glucose level is attained after the body has recovered to the normal condition, in which the insulin
    resistance is lowered and insulin use is improved. Ketsumeisei works differently from traditional medications.
</p>
<p>
    The statements made herein have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent disease. All information provided on Ketsumeisei in the Health Springs website has been provided by
    World Nutrition.
</p>
