<div class="panel panel-news">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4">
                <h1>Did <span>You</span> Know<span class="hidden-md hidden-lg">?</span></h1>
            </div>
            <div class="col-md-7">
                <p>
                    We are living in a time of failing antibiotics, new viruses, and a barrage of disease that challenge your efforts to restore, improve and maintain outstanding health.
                </p>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs">
                <h1>?</h1>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="info_wrapper">
                    <p>
                        Researchers tell how vital a healthy Immune System is for good health.
                    </p>
                    How to improve Immune System health
                    <br /> Make a difference in your health.
                    </p>
                    <p>
                        What Can I Do For My Immune System
                    </p>
                </div>

            </div>

            <div class="col-md-8 background-image_waterfall2 background-position_center_bottom">
                <div class="info_wrapper color_yellow">
                    <br />
                    <br />
                    <p>
                        Health Springs
                        <br /> 209 Central Ave
                        <br /> PO Box 24
                        <br /> Buffalo, MN 55313
                        <br /> Phone Orders: 800-416-7114
                    </p>
                    <br />
                    <p>
                        <a class="color_yellow" href="mailto:info@healthsprings.net?Subject=Your%20Subject" target="_top">info@healthsprings.net</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
