<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Health<span>News</span></h1>

                    <div class="thumbnail">
                        <img src="/News/articles/Beta-1_3-D_Glucan_Immediate_Press_Release/betaglucan500se.jpg" alt="Beta 1, 3d" />
                    </div>

                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">

                <div class="text-center">
                    <p>
                      Beta Glucan News
                    </p>
                    <p>
                        Beta Glucan is orally effective potent stimulator of your Immune Response
                    </p>
                    <p>
                        Beta Glucan is the most widely and commonly observed activator of Macrophage in nature
                    </p>
                    <p>
                        <h2>Beta-1 3-D Glucan</h2>
                    </p>
                </div>

                <p>
                    By A.J. Lanigan
                </p>
                <p>
                    Macrophages play an essential and pivotal role in the initiation and maintenance of the immune response. From an evolutionary point of view, the macrophage is the oldest and most consistently preserved immunologically competent cell known. Not only humans
                    and higher animals, but primitive invertebrates such as Hydra which have no other immunological effector cells, have macrophages. In order to function defensively, the macrophages must pass through a state of activation which involves
                    certain morphological changes. Also, most importantly, a whole sequence of metabolic changes occurs which results in the production of a series of so-called cytokines. The act as internal regulators of the immune system. Activation
                    can be initiated by a variety of different stimuli such as endotoxin, bacteria, viruses or chemicals. However, these activators can be to toxic or pathogenic to be useful. Beta-1, 3-D Glucan on the other hand is orally effective, completely
                    safe and non-toxic and may be one of the most potent stimulators of the immune response. There are several different types of beta glucan with different levels of activity, the majority of which are inert and used as simple food fillers.
                    The most active type, however, is Beta-1,3-D glucan from the cell wall of yeast. A three dimensional model of this molecule shows it to be a helix, and research at Harvard University has shown that receptors for approximately seven
                    sugar residues exist on the macrophage cell membrane. The fact that such a small number of glucose units can activate these receptors is very remarkable. What is more remarkable still is that there are specific receptors for this sort
                    of polysaccharide chain on the surface of the most ancient cell in the immune cascade. There is now evidence to show that Beta Glucan is, from an evolutionary point of view, the most widely and most commonly observed macrophage activator
                    in nature.
                </p>
                <p>
                    The activated macrophage is a veritable powerhouse. A macrophage can recognize and kill tumor cells non-specifically, as well as remove foreign debris. It also can produce a number of essential cytokines that are able to stimulate the immune system in
                    general and boost bon marrow production.
                </p>
                <p>
                    Some individuals, because of age, chronic infection or poor nutrition have a compromised immune defense system. They are susceptible to all of the following problems: arthritis; reduced would healing capacity; reduced bone marrow proliferation with resulting
                    lowered white cell count and anemia; increased incidence of cancers; and increased incidence of viral, fungal, and bacterial infection.
                </p>
                <p>
                    Beta-1,3-D Glucan is a safe and very potent nutritional supplement with a systemic effect that can be described as non-specific immune stimulation combined with free-radical scavenging activity. As a Baker’s yeast extract it is Generally Regarded As Safe
                    (GRAS category according to the FDA) and has no known toxicity or side effects
                </p>


            </div>



        </div>


    </div>
</div>
