<div class="disclaimer">
    <p>
        This site is for information only and is not intended to diagnose or treat any illness. If you have a medical condition, we recommend you consult your physician before using these products. Health Springs is solely a distributor of the information and
        products described on this site and is not responsible for research, formulation or manufacturing. Neither Health Springs nor the manufacturers make any medical claims for the potency or effectiveness of any product sold herein. Distribution issues
        should be directed to Health Springs. Product liability is solely the responsibility of the manufacturer.
    </p>
    <p>
        Dietary supplements are not to be used to prevent or treat or cure any disease. The Statements in this website have not been evaluated by the FDA. Any information provided on this web site is not a substitute for the advice of a licensed medical practitioner.
        Individuals are advised not to self-medicate in the presence of significant illness. Ingredients in supplements are not drugs and may not be foods. Health Springs does not advise administration of supplements to infants or children and no supplements
        should be taken in pregnancy without professional advice.
    </p>
</div>
