<!-- Facebook comments code -->
<hr />
<h2 class="text-center"><i class="fa fa-comments-o" aria-hidden="true"></i> Tell Us What You Think</h2>
<div id="fb-root"></div>
<div class="fb-comments" data-href="{{route_pageurl}}" data-numposts="5"></div>

<style>
  .fb-comments, .fb-comments span, .fb-comments iframe[style] {width: 100% !important;}
</style>
