<div class="padding-sides" style="padding-bottom: 15px;">
  <iframe src="//www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHealthSprings.net&tabs=timeline&width=240&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=208646522874562" height="400" style="display:block; border:none;overflow:hidden; width: 100%; max-width:240px;margin: auto;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
