<a data-route data-route-name="home" class="thumbnail logo-wrapper hidden-xs">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="95%" height="95%" viewBox="0, 0, 746.953, 328.5">
      <g id="Layer_1" transform="translate(-87, -84)">
        <text transform="matrix(1, 0, 0, 1, 346.98, 186)">
          <tspan x="-259.98" y="56" font-family="Arial" font-weight="bolder" font-size="144" fill="#9A9A9A">Health</tspan>
        </text>
        <text transform="matrix(1, 0, 0, 1, 516.238, 331)">
          <tspan x="-230.238" y="42.5" font-family="GaramondBold" class="font_GaramondBold" font-size="144" fill="#75993F">Springs</tspan>
        </text>
        <text transform="matrix(1, 0, 0, 1, 785.715, 356)">
          <tspan x="-39.844" y="14.5" font-family="GaramondBold" class="font_GaramondBold" font-size="50" fill="#5A5A5A">.net</tspan>
        </text>
        <path d="M180.536,377.423 L140.547,281.648 L138.858,251.476 C138.858,251.476 181.302,294.786 190.588,311.137 C199.874,327.488 211.505,349.186 211.505,349.186 L212.168,377.423 z" fill="#BCC757"/>
        <path d="M213.09,377.423 L212.484,349.186 C212.484,349.186 245.099,296.155 272.552,280.006 C275.913,278.029 263.786,327.476 255.956,342.222 C241.484,369.479 224.599,377.423 224.599,377.423 z" fill="#BCC757"/>
      </g>
    </svg>

</a>
