<div class="fb-save" data-uri="{{route_url}}" data-size="large"></div>
<br />
<br />
<div class="fb-like" data-href="{{route_url}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
<div class="fb-send" data-href="{{route_url}}"></div>
