<!-- Shipping info start -->

<table class="table">
  <caption><i class="fa fa-truck" aria-hidden="true"></i> Shipping Info: Choose your options at checkout</caption>
  <!-- Table Header Start -->
  <tr>
    <th>Qty</th>
    <th>USPS Service</th>
    <th>Price</th>
  </tr>
  <!-- Table Header End -->
  <!-- Table Options Start -->
    <tr>
      <td>1-2</td>
      <td>USPS First Class Mail</td>
      <td><div class="text-success">Free</div></td>
    </tr>
    <tr>
      <td>2-3</td>
      <td>USPS Priority Mail</td>
      <td><div class="text-primary">$3.00</div></td>
    </tr>
    <tr>
      <td>4-6</td>
      <td>USPS Priority Mail</td>
      <td><div class="text-primary">$3.00</div></td>
    </tr>

  <!-- Table Options End -->
</table>
<p class="alert alert-success"><strong>Please Note:</strong> Express Mail is also available.</p>

<!-- Shipping info end -->
