<a class="cursor-help" data-toggle="popover" data-placement="bottom" data-content="Why are veggie caps so important? Most gelatin capsules are from animal by products, and often times this includes pork gelatin. Pork is toxic to the ill person and should be avoided completely. This is a major reason why veggie capsules are important to your health."><i class="fa fa-leaf" aria-hidden="true"></i> veggie capsules</a>
<script>
$(function() {
    // Enable popups
    $('[data-toggle="popover"]').popover();
})
</script>
