<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Oxy<span>Lift</span></h1>
                    <h2>Powerful Oxygen-Mineral Supplement</h2>

                    <div class="thumbnail" data-toggle="modal" data-target="#product_label">
                        <img src="oxylift.jpg" alt="Oxy Flush" />
                    </div>

                    <div class="modal fade" id="product_label" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">OxyFlush Label</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="thumbnail">
                                        <img src="oxyflush_facts.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <h3>$22.95</h3>
                    <h4>3-4 for $19.95 each</h4>
                    <h4>5 for $18.95 each</h4>
                    <h4>6 or more $17.95 each</h4>

                    <div id="form_body_wrapper" data-partial data-partial-name="component_form-body" data-partial-values>
                      "route_redirectLink" : "oxylift"

                      "inputs_hidden":
                        "disStr" : "1,2,22.95;3,4,19.95;5,5,18.95;6,11,17.95;12,17,16.95",
                        "describe" : "HSOXL1OZ",
                        "id" : "OxyLift 1 oz. bottles",
                        "shipKey" : "S2",
                        "discItem" : "N",
                        "Weight" : ".01"
                    </div>

                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer"></div>



                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->
                <p>
                    <strong>OxyLift</strong> is a synergistic <strong>Blend of Powerful Nutritional Supplements </strong>providing the body with oxygen, hydrogen, structured water, major and trace minerals, enzymes, and amino acids. OxyLift concentrate
                    is a breakthrough in value, a breakthrough in price, and comes in an easy-to-carry pocket sized dispenser.
                </p>
                <p>
                    <a role="button" data-toggle="collapse" href="#more_info" aria-expanded="false" aria-controls="collapseExample">Click Here for more valuable OxyLift information </a>
                </p>
                <div class="collapse" id="more_info">
                    <div class="well" id="">
                        <h1>Oxygen: </h1>
                        <p>
                            From the first breath taken at birth, having enough oxygen is the most vital factor in our lives. Our environment's ability to produce oxygen is now severely compromised due to the rapid destruction of the oxygen producing rainforests, and the constant
                            polluting of our air and oceans. Our air and our water commonly contain oxygen-consuming pollutants that are robbing the good health of every living thing. We clearly don't get enough daily oxygen inside us. This dangerous
                            because....
                        </p>
                        <p>
                            the vast majority of disease-causing bacteria, viruses, fungi, and other hamful microbes that harm our bodies are anaerobic and therefore thrive best in low oxygen conditions.
                        </p>
                        <p>
                            But the good news is that because they are anaerobic, these microbes can't exist in in well-oxygenated bodies! Our bodies constatly use oxygen to oxidize microbes permanently, along with any collected waste and pollution. This means in order to be healthy,
                            our bodies must have plenty of oxygen to engulf the anaerobes, and to eliminate the pollution, together the ultimate cause of most disease. Using OxyLift three times daily promotes a catalytic action that helps the body to
                            steadily generate oxygen out of it's natural internal waters, over a 6-12 hour time period. Each portion of OxyLift taken increasingly helps the body to cleanse by supplying it with the ingredients necessary to do so. A cleaner
                            inner environment leaves more room for oxygen in the cells and fluids. OxyLift is vital for our good health, expecially in today's low-oxygenated, overly polluted unnatural environments.
                        </p>
                        <h2>Minerals:</h2>
                        <p>
                            What we are made of. The earth has a variety of minerals naturally present in the ocean and soils, and our food is supposed to deliver them to us. As a result of pollution and present day mineral depleting corporate farming methods, naturally occurring
                            soil minerals that should be in our daily foods are critically low, or missing entirely. We're all eating, but we believe our food no longer has adequae minerals. Grown on long ago played out soils, and rushed unripe to the
                            shelf, most of our food is pretty, but vacant. Our health and bodily functions directly depend upon getting these absolutely essential minerals daily. OxyLift supplies a full range of the missing minerals and trace minerals
                            in super absorbable ionic form.
                        </p>

                        <h2>Water:</h2>
                        <p>
                            Water is water, isn't it? well, not exactly! What you want for rebuilding your body to a state of health and energy is good, clean oxygen-filled water. Most people don't drink much if any water, and if they do it is chlorinate. fluoridated and who knows
                            what else.
                        </p>
                        <h2>Enzymes: </h2>
                        <p>
                            Sadly, in today's high energy society, people eat unnatural and excessively altered semi-foods. Even healthy food is often eaten in a rush. Over the years digestive problems lead directly to more and more illness. We need lots of suplemental enzymes to
                            completely digest our food so undigested food particles do not enter the bloodstream. When undigested food particles enter the blood stream, they become a food supply for infectious microbes. OxyLift provides our bodies with
                            a blend of essential enzymes needed for thorough digestion and cleansing.
                        </p>
                        <h2>Amino Acids: </h2>
                        <p>
                            The human body, minus water, is 75% amino acids. All of the neurotransmitters (proteins) but one are composed of amino acids; and 95% of hormones are amino acids. Amino acids are key to every human bodily function with every chemical reaction that occurs.
                            The body repairs itself using amino acids to build new protein structures. OxyLift delivers a daily boost of essential amino acids, assisting the body with its necessary self-replacement and repair activities.
                        </p>

                        <h2>Colon Health: </h2>
                        <p>
                            Dr. Bernard Jensen has for years validated the importance of colon health. It has been said that disease starts in the colon. Taking care of your colon health is a foundational truth to your general health, well being, and the natural vital energy of
                            your life. OxyLift greatly ssists the detoxificaiton process.
                        </p>
                    </div>
                </div>
                <p onfocus="MM_openBrWindow('oxylift_info.html','','scrollbars=yes,width=450,height=500')"><span class="style17"><span class="style16">Wayne Freeman says...<br />
                  </p>
                  <blockquote>
                    <p>
                      I have dealt with chronic fatigue and exhaustion for many years.  During this time I have tried numerous supplements. Some have been detrimental, some have not helped at all, some have worked for a while, and a very, very few have worked well on a consistent basis.  Of the latter category, the product that I fell does me the most good is... OxyLift
                    </p>
                  </blockquote>
                  <p onfocus="MM_openBrWindow('oxylift_info.html','','scrollbars=yes,width=450,height=500')"><a href="../testimonials/index.html">More OxyLift testimonials</a> </p>

                <!-- End Product Description -->
                <!-- Populate with shipping info -->
                <div id="shipping_wrapper" data-partial data-partial-name="widget_shipping"></div>

                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "oxylift"
                </div>

            </div>



        </div>


    </div>
</div>
<script>
    $(function() {

            // Enable popups
        $('[data-toggle="popover"]').popover();

        initPage();


    })
</script>
