<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Thiotic <span>Acid</span></h1>

                    <div class="thumbnail" data-toggle="modal" data-target="#product_label">
                        <img src="/ALA/ala.jpeg" alt="Alpha Lipoic Acid" />
                    </div>

                    <div class="modal fade" id="product_label" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Alpha Lipoic Acid Label</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="thumbnail">
                                        <img src="/ALA/alpha_lipoic_acid_Label.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h3>$54.94</h3>
                    <h4>300mg. 100 capsules</h4>

                    <div id="form_body_wrapper" data-partial data-partial-name="component_form-body" data-partial-values>
                      "route_redirectLink" : "ala"

                      "inputs_hidden":
                        "Weight" : ".00",
                        "DiscStr" : "1,1,54.95",
                        "DiscItem" : "N",
                        "Describe" : "HSBTALA100",
                        "ID" : "BioTech ALA 300 mg 100 caps"
                    </div>
                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer">
                    </div>
                </div>



                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->
                <div class="text-center">
                    <h1>Alpha Lipoic Acid</h1>
                    <p>
                        Also known as <br /> Thiotic Acid
                    </p>
                </div>
                <p>
                    BioTech Alpha Lipoic Acid is the highest quality available and from the purest sources out of Europe. One of the leading experts in the use of Alpha Lipoic Acid uses BioTech Alpha Lipoic Acid with his patients.
                </p>
                <p>
                    Alpha Lipoic Acid is best taken in conjunction with a good B-complex vitamin. The reason for this is ALA uses the B vitamins in its process within the body.
                </p>
                <p>
                    Alpha Lipoic Acid can be beneficial for acute and chronic hepatitis, cirrhosis, hepatic coma, fatty liver, diabetes, inflammatory conditions.
                </p>
                <p>
                    Lipoic acid, also known as thioctic acid, alpha-lipoic acid or ALA, is a sulfur-containing molecule that is synthesized in your body from a fatty acid called octanoic acid. ALA is a potent antioxidant that is capable of scavenging harmful free radicals
                    from your tissues. Dr. Elson Haas, author of "Staying Healthy with Nutrition," states that ALA's unique structure allows it to perform effectively as an antioxidant in both aqueous and fat-based environments, making ALA valuable both
                    inside and outside your cells.
                </p>
                <ul>
                    <li>Recycles other antioxidants</li>
                    <li>Helps Cells Consume Energy</li>
                    <li>Supports Diabetic Neuropathy recovery</li>
                    <li>Slows Alzheimer disease</li>
                </ul>
                <p>
                    More ALA information <a href="http://www.livestrong.com/article/392802-what-is-alpha-lipoic-acid-good-for/" target="_blank">Click Here</a>.
                </p>

                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "ala"
                </div>
                <!-- End Product Description -->
            </div>



        </div>

    </div>
</div>
<script>
    $(function() {
        initPage();

    });
</script>
