<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Press<span>Release</span></h1>

                    <div class="thumbnail">
                        <img src="/News/articles/Beta-1_3-D_Glucan_Immediate_Press_Release/betaglucan500se.jpg" alt="Beta 1, 3d" />
                    </div>

                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start about us description -->
                <h2>FOR IMMEDIATE RELEASE:</h2>
                <h3>December 3, 2007</h3>
                <p>
                  <strong>VETVICKA/VETVICKOVA BETA GLUCAN STUDIES CONTINUE TO DEMONSTRATE THE SCIENCE OF THE SUPERIOR BETA 1 3-D GLUCAN, TRANSFER POINT'S GLUCAN # 300, THE MOST ACTIVE BRAND ON THE MARKET</strong>
                </p>
                <p>
                    PHYSIOLOGICAL EFFECTS OF DIFFERENT TYPES OF &#223;-GLUCAN.
                    <!-- NOTE: You cannot use fancy symbols like that b, instead you'll have to use HTML entities like &#223; For a complete reference, check out https://dev.w3.org/html5/html-author/charref -->
                </p>
                <p>
                    An Evaluation of the Immunological Activities of Commercially Available &#223;1, 3-Glucans
                </p>
                <p>
                    Columbia, SC – The science keeps proving what Transfer Point always knew; when it comes to Beta Glucan, the superior brand on the market is Glucan # 300. Recently published studies by Beta Glucan and immunology research experts at the University of Louisville,
                    Drs. Vaclav Vetvicka and Jana Vetvickova, de- monstrated the superiority of Transfer Point's Beta 1, 3-D Glucan as compared to others on the market. This time the studies went further to understand why. The answer, the science reveals,
                    is purity. Purity of the product makes all the diff- erence clinically. The purer the Beta Glucan, the more profound the clinical results were in the studies presented. And Transfer Point's highly purified product was found to be the
                    most active in the group. Did you know that Transfer Point's Beta Glucan # 300 showed the following results?
                </p>
                <p>
                    1) The strongest healthy immune response of phagocytosis and massively high cytokine (IL-2) levels as compared to all other major brands.
                </p>
                <p>
                    2) Healthy blood sugar level support.
                </p>
                <p>
                    3) Healthy cholesterol level support.
                </p>
                <p>
                    All of this was demonstrated at relatively low doses of Glucan # 300 per day as compared to massive doses of other competitors. Transfer Point's Beta 1, 3-D Glucan packs the biggest support for a healthy immune system at a cost that the competition cannot
                    meet.
                </p>
                <p>
                    With over eleven years of experience in maintaining the highest levels of safety, purity and activity, A.J. Lanigan stated, "We hope that the contract manufacturers, brokers, distributors and retailers will stop selling big pills with little or no punch
                    and start asking for the only product that performs in all cate- gories, Glucan # 300. At the end of the day, consumers deserve to get the highest healthcare return for the money they spend on these products."
                </p>
                <p>
                    Transfer Point President Marilyn Becker agrees. "The science shows if a person is going to try to do something healthy for their immune system with Beta Glucan, they need only to take one product…ours!"
                </p>


            </div>



        </div>


    </div>
</div>
