<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>About<span>Us</span></h1>

                    <div class="thumbnail">
                        <img src="productfamily.jpg" alt="Prodcut Family" />
                    </div>

                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start about us description -->
                <h1></h1>
                <p>
                    1979 was the year I began a journey that I had not expected. I began having some minor health problems and began visiting doctors and chiropractors looking for help.
                </p>
                <p>
                    A number of years went by this way, always hoping the next practitioner would have the answer to my increasingly numerous health problems.
                </p>
                <p>
                    My health continued to deteriorate until I found myself on so many drugs it scared me. They made my head spin, and I didn't dare even drive. I determined that there had to be another way to get help, and that began my search.
                </p>
                <p>
                    These products that you see here are some of the discoveries that we have made over the years. These products that enhance the Immune System, increase oxygen to the body, and promote detoxification to be useful in improving our own health.
                </p>
                <p>
                    We have also became aware of some very effective personal health plans that have made a huge difference in our lives.
                </p>
                <p>
                    Over the years friends and family learned that we had accumulated an understanding of health and have asked us for help. Some of them have stayed with us for a few weeks, some for months. Watching the transformation in their health bring us great joy.
                </p>
                <p>
                    We are amazed at what the body will do if it is given the right environment. The body is designed to be self-healing.
                </p>

                <p>
                    We encourage people to start taking a serious look at their own health and the health of their families. Taking responsibility for your own health can make a big difference in your future.
                </p>

                <p class="text-right">
                    <em>Thanks for visiting us</em>
                    <br />
                    <br />
                    <strong>Rick &amp; Joyce</strong>
                    <br /> 209 Central Ave<br /> PO Box 24
                    <br /> Buffalo, MN 55313
                    <br /> <strong>Phone:</strong> 800-416-7114
                    <br />
                    <br />
                    Like Us On <a data-route data-route-name="facebook" target="_blank">Facebook</a><br />
                    Follow Us On <a data-route data-route-name="google" target="_blank">Google+</a><br />
                </p>

                <!-- Start about us description -->


            </div>



        </div>


    </div>
</div>
