<div class="panel panel-product">
    <div class="panel-body padding_high">

        <!-- Start product description -->
        <div class="text-center">
            <h1>HealthNews</h1>
            <h2>The Immune Response</h2>
            <h3>Enhanced By Beta Glucan</h3>
            <p class="text-center">
                By A.J. Lanigan
            </p>
            <p><strong>The immune response is the body's way of defending itself....</strong></p>
        </div>

        <p>
            against foreign substances that invade it. These invaders, like viruses, bacteria, fungi, etc., cause infection and disease. The immune system's job is a complicated process. It involves the coordinated efforts of several types of white blood cells.
        </p>

        <ol>
            <li>
              <p>
                The immune response begins when invaders like viruses enter the body. White blood cells called macrophages encounter the invader and consume it. The macrophage does not care what the invader might be or the health of the host. It only knows self or nonself.
                Meanwhile, other viruses look for nearby cells to infect. Beta Glucan, an extract from the cell wall of baker's yeast, turns the "Woody Allen cells" into "Schwartzenagger cells". This allows your immune system to be "all that it can be".
                Beta glucan modulates and potentiates the macrophage and keeps it in a more prepared state. With this balancing effect, all subsequent immune response improves. The Glucan treated host enjoys an increase in its arsenal against unwanted
                invaders.
              </p>
            </li>
            <li>
              <p>
                Next, the macrophage digests the virus and displays pieces of the virus (antigens) on its surface. Antigens may be any substance introduced into the body that the immune system recognizes as nonself. Nearby cells have now become infected by the attacking
                viruses. In a healthy immune system, these infected cells will come under attack and be destroyed and removed before they can be used to spread the illness.
              </p>
            </li>
            <li>
              <p>
                Unique among the many different helper T cells (another class of white blood cells) in the body, one particular helper T cell now recognizes the antigen displayed and binds to the macrophage. There are at least 2 subsets of the helper T cells, the Th1
                and Th2. They will make the decisions as to what type of response will be ordered. Up and down regulatory factors transmitted by this pair of cells (macrophage + T helper) provide many variations for dealing with the invaders.
              </p>
            </li>
            <li>
              <p>
                This union stimulates the production of chemical substances - such as interleukin-1 (IL-1) and tumor necrosis factor (TNF) by the macrophage, and interleukin-2 (IL-2) and gamma interferon (IFN-y) by the T cell - that allow intercellular communication.
                These cytokines/lymphokines (fax messages) are required for T cell activation and response. Mere activation is not enough. The Antigen Presenting Cell (APC) depending on the type (MHC I or II) of presentation from the APC gives co-stimulation
                (a second go-ahead signal). CD28 (blood test) reflects this co-stimulation and activation process.
              </p>
            </li>
            <li>
              <p>
                As part of the continuing process, IL-1 helps activate B and T cells; IL-2 instructs other helper T's and a different class of T cells, the killer T's (CTLs), to multiply. The proliferating helper T's in turn release substances that cause B cells to multiply
                and produce antibodies. B cells are prepared to recognize antigen without preprocessing. The T cell cannot recognize antigen in its natural state. It must first be broken down and the fragments bound to a MHC molecule by the SPC. The macrophage
                is an SPC. Glucan causes its receptor sites (key slots) to be readied for these presentation chores.
              </p>
            </li>
            <li>
              <p>
                The killer T cells (trained assassins) now begin shooting holes in host (human) cells that have been infected by viruses. The killer T cell (CTL or cytotoxic T lymphocyte) becomes a "trained assassin". They respond to the MHC 1 complex, which is found
                on almost all body cells. The CTL is the only cell that has the ability to seek and destroy infected human cells. With the injection of powerful chemicals, these infected cells are killed before they can be used to spread a disease. Natural
                Killer (NK) cells are large, granule-filled lymphocytes that take on tumor cells and infected body cells. They are known as "natural" killers because they attack without first having to recognize specific antigens. Like the macrophage,
                if it is not "self",. it will proceed to kill. NK cells and CTLs both kill on contact. The killer binds to the target, aims its weapons and then releases a lethal burst of chemicals to punch holes in the target.
              </p>
            </li>
            <li>
              <p>
                When a Class II MHC molecule is presented by the SPC, the B cell/antibody process begins. This is the humoral side of the immune system. The antibodies released by the B cells bind to antigens on the surfaces of free-floating viruses. Besides making it
                easier for macrophages to destroy viruses, this binding signals blood components called complement to puncture holes in the viruses. The Complement System is made up of 25 proteins that work with the antibodies to destroy invaders. They
                facilitate phagocytosis (eating by phagocytes) or they directly puncture the invader's cell membrane. C3 is the key protein that triggers the "complement cascade". This cascade results into a "membrane attack complex" that literally blasts
                a hole into the antibody marked prey. Fragments thrown off by this process bring into play mast cells that basophils. By releasing their chemical contents, they produce the redness, warmth, and swelling of the inflammatory response.
              </p>
            </li>
            <li>
              <p>
                Finally, as the infection is brought under control, the activated T and B cells are turned off by suppressor T cells (a T-8 subset). However, a few "memory cells" (another T-8 subset) remain behind to respond quickly if the same virus attacks again. Immunologists
                believe that the body fights cancer in much the same way it seeks to eliminate viruses. Further study of the immune system is expected to reveal ways to bolster it, allowing the body to become a more active partner in the fight against
                cancer.web site hit counter
                <p>
            </li>

        </ol>

        <!-- End Product Description -->
        <!-- Populate with shipping info -->
        <!-- <div id="shipping_wrapper"></div> -->

        <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
          "route_pageurl" : "immune_system"
        </div>

    </div>
</div>
<script>
    $(function() {

        $('[data-toggle="popover"]').popover();

        initPage();
        // Enable popups

    })
</script>
