
<table class="table">
      <tr>
        <th width="25%"><p align="center" class="style6">Brand Name</p></th>
        <th width="25%"><p align="center" class="style6">PPM on Label</p></th>
        <th width="25%"><p align="center" class="style6">Amount of Silver in PPM of Electro-Pure&trade; for same germicidal effect</p></th>
        <th width="25%"><p align="center" class="style6">Actual Germicidal Potency</p></th>
      </tr>
      <tr>
        <td align="middle" width="25%"><p align="center" class="style6">Innovative Natural Products</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">500.0</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">27.0</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">343.0</p></td>
      </tr>
      <tr>
        <td align="middle" width="25%"><p align="center" class="style6">500 CSP</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">500.0</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">20.0</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">253.0</p></td>
      </tr>
      <tr>
        <td align="middle" width="25%"><p align="center" class="style6">DEDI's Silvicidal ES</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">300.0</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">23.0</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">292.5</p></td>
      </tr>
      <tr>
        <td align="middle" width="25%"><p align="center" class="style6">Gray Whale</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">270.0</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">25.0</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">316.0</p></td>
      </tr>
      <tr>
        <td align="middle" width="25%"><p align="center" class="style6">Electro-Pure&trade; Colloidal   Silver</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">25.0</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">25.0</p></td>
        <td align="middle" width="25%"><p align="center" class="style6">317.0</p></td>
      </tr>
    </table>

<div class="thumbnail">
	<img src="Colloidsilverquality.gif" alt="Colloidal Silver quality" width="779" height="581" /></td>
</div>
