<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1 class="text-lg">Colloidal<span>Silver</span></h1>
                    <h2>Clear Colloid of Silver</h2>

                    <div class="thumbnail">
                        <img src="colloidal_silver.jpg" alt="Oxy Flush" />
                    </div>



                    <!-- 2 oz. Flip Top 150 ppm -->

                    <h1>$25.95</h1>
                    <h3><s>$32.00</s></h3>

                    <p>
                        Electro-Pure Colloidal Silver <br /> 2 oz. Flip Top 150 ppm
                    </p>

                    <div id="form_wrapper_one" data-partial data-partial-name="component_form-body" data-partial-values>
                      "route_redirectLink" : "colloidalsilver"

                      "inputs_hidden":
                          "Weight" : ".00",
                          "DiscStr" : "1,12,25.95",
                          "Describe" : "HSCS2-150",
                          "ID" : "Colloidal Silver 2 oz. 150 ppm"

                    </div>





                    <hr />
                    <!-- 2 oz. Atomizer 150 ppm -->


                    <h1>$49.95</h1>
                    <h3><s>$60.00</s></h3>

                    <p>
                        Electro-Pure Colloidal Silver <br /> 4 oz. Flip Top 150 ppm
                    </p>

                  <div data-partial data-partial-name="component_form-body" data-partial-values>
                        "route_redirectLink" : "colloidalsilver"
                        "inputs_hidden":
                              "Weight" : ".00",
                              "DiscStr" : "1,12,49.95",
                              "Describe" : "HSCS4-150",
                              "ID" : "Colloidal Silver 4 oz. 150 ppm"
                    </div>


                    <hr />

                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer"></div>


                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->
                <a role="button" data-toggle="collapse" href="#facts_and_hype-wrapper">
                  Facts and Hype about Collodial Silver
                </a>
                <br />
                <br />
                <div class="collapse well" id="facts_and_hype-wrapper" data-partial data-partial-src="/ColloidalSilver/factsandhype.html">
                </div>

                <hr/>

                <a data-toggle="modal" data-target="#comparison_chart-modal">
                  Major Brand Comparison Chart
                </a>

                <br />
                <br />

                <div class="modal fade" id="comparison_chart-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div id="comparison_chart-wrapper" data-partial data-partial-src="/ColloidalSilver/comparison.html">
                            </div>
                        </div>
                    </div>
                </div>

                <p>
                    <u>Standardized to 150 PPM</u>
                    <p>

                        <p>
                            Natural Anti-Bacterial Pure Silver
                        </p>

                        <p>
                            A natural for: Colds, Flu, Sinus Infection, Sore Throats, Pink Eye, Acne, Boils, Cuts, Burns, Fungus Nails, Canker Sores and Removes Warts and Skin Tags Painlessly.
                        </p>

                        <p>
                            No Storage Requirements. Stable under all conditions.
                        </p>

                        <p>
                            Ingredients: Distilled Water, 99.99% Pure Silver
                        </p>

                        <p>
                            CLEAR COLLOIDAL SILVER is an amazing natural alternative to antibiotics. Electro-Pure TM Colloidal Silver is manufactured by a privately-owned manufacturer and distributor of premiere quality controlled Colloidal Silver solutions. Colloidal Silver has
                            been used for generations as an effective remedy for a variety of bacterial ailments. Electro-Pure TM Colloidal Silver is the creation of bio-chemist, David Beebe, who understands the production of high quality colloidal metals
                            and has done extensive research into their efficacy.
                        </p>

                        <!-- End Product Description -->
                        <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                          "route_pageurl" : "colloidal"
                        </div>

            </div>



        </div>


    </div>
</div>
<script>
    $(function() {

        // Enable popups
        $('[data-toggle="popover"]').popover();
        initPage();

    })
</script>
