<div class="text-center">
	<h1>Facts versus Hype </h1>
	<h3>ABOUT COLLOIDAL SILVER</h3>
	<p>BY Electro-Pure&trade; BIO-CHEMIST</p>
</div>

<p>Colloids of silver are becoming more popular as a Natural Antibiotic and consequently being marketed by several MLM companies and many smaller distributors. However, there are many that appear to not understand the nature of the products they are marketing.
	In some cases, advertisers wish to exaggerate the properties of their product and may downplay those of the competition in an effort to gain a share of the market. These exaggerations I refer to as hype . The facts recorded here, on the contrary, are
	those which I feel to be accurate through our research and or careful testing of our own products. </p>
<p><u>HYPE</u>: <strong> AC electrically   produced colloids are best or DC electrically produced colloids or those   produced by higher or lower voltages are the   best.</strong></p>
<p><u><span class="style10">FACT</span></u><span class="style10">: Electrically   produced colloids of silver may be made using either an Alternating or Direct   Current (AC or DC) electrolysis processes. Each has its differences, and with   some adjustments in method, a suitable colloid can be made using either.   However, some are not stable over time and some may</span></p>

<p><span> posses larger particles than   others. An associate has manufactured a high (10,000+)voltage AC type colloid   that he has tested In Vitro with similar results to those made   by the DC process. He has also made a low voltage DC product which is very   similar except it is much slower to produce. It appears that the way the process   is controlled determines the smallness of the silver particles and how much   silver is dispersed. A quality colloidal silver would be one that is stable and   having small particle size.</span></p>
<p><u><span>HYPE</span></u><span>:<strong> Colloidal silver   loses its effectiveness if exposed to magnetic   forces.</strong></span></p>
<p><u>FACT</u>: We took a sample of our colloidal silver and placed it directly on a 45 pound permanent magnet for 4 hours. Then an Independent Researcher performed the usual PPM analysis and In Vitro efficacy tests against bacterial and yeast cultures.
	The analysis indicates that there was no loss of PPM of silver and that the potency was not effected at all compared with two control samples.</p>
<p><u>HYPE</u>:<strong> Colloidal silver   is destroyed by electro-magnetic fields like those of metal detectors, stereo   speakers, TV sets and computer monitors. </strong></p>
<p><u>FACT</u>: We took samples of our <strong>Electro-Pure&trade; </strong>colloidal silver four times through the security scanners at Dulles International Airport when the Security conditions were on full alert. Other samples were taped onto TV screens
	and electric motors for 4 hours. After testing the samples, they were found to have the same PPM of silver and same germicidal potency as the controls left at the lab.</p>
<p><u>HYPE</u>:<strong> Yellow colloidal   silver is spoiled as it has &lsquo;rusted&rsquo; and has no potency   left.</strong></p>
<p><u>FACT</u>: Rust is by definition the reddish orange <strong><U>iron</U></strong> oxide material formed by the oxidation of <strong><U>iron</U></strong> and iron bearing alloys. Silver does not rust and isn&rsquo;t an alloy with any iron. When silver
	colloids turn yellow it is because of the size of the silver clusters and not because of any property making it better or worse. <strong>Electro-Pure&trade; </strong>has had Laser Spectrophotometer analysis of various &lsquo;colored&rsquo; colloids of
	our colloidal silver and found that the colors may vary, including clear, yellow, green, blue, red, teal, black and brown, and each also had particles sized slightly different. These colloids were all germicidal and well within the size range of pure
	colloids. Some manufacturers will dye their solutions in an effort to claim the &lsquo;good yellow color&rsquo;. These products can be easily proofed by placing a drop of the solution on a plain piece of white paper and allowing it to dry. If it contains
	only pure silver it will leave a light gray spot, and if it has had dyes added, it will dry as a spot of different color. </p>
<p><u>HYPE</u>:<strong> Colloidal silver   is damaged by X-rays and microwaves. </strong></p>
<p><u>FACT</u>: Electro-Pure&trade; took samples of our colloidal silver to National Airport in Washington, DC and had them scanned in the security X-ray chambers. The attendants were alarmed that the containers were so dense in the pictures on the monitor
	so they stopped the conveyor and took extra time to identify the unknown shapes. These samples were tested the next day for actual PPM silver and tested against the usual bacterial and yeast cultures In Vitro and found to be unaffected by exposure to
	the X-rays. Other samples were placed in a home microwave oven and treated to the point of boiling on the high power setting. This product was then tested for PPM of silver and efficacy on bacteria and yeast cultures and found to be unaffected as well.
	So be sure to take your bottle of Electro-Pure&trade; with you whenever you fly out of the country.</p>
<p><u>HYPE</u>:<strong> Colloidal silver   is damaged by sunlight.</strong></p>
<p><u>FACT</u>: This is often a claim by those that sell the product in dark glass or blue bottles. We placed our product in direct sunlight in our white plastic bottle and allowed the direct south sunshine to strike the bottles for 4 hours in the middle
	of a day in July. These samples tested to be of full efficacy and the same PPM as the controls. It is not unusual for the product to turn more yellow in tint under these conditions, but this has no effect on the efficacy of our product.</p>
<p><u>HYPE</u>:<strong> Colloidal silver   causes Argyria if you take a product with over 5 PPM or take the product for   over 10 days.</strong></p>
<p><u>FACT</u>: All of our readings of reported cases of Argyria agree that Argyria is caused by
	<U>compounds of silver</U> and not by pure silver as is in <strong>Electro-Pure&trade; </strong>Colloidal silver. These compounds of silver were chemically manufactured Mild Silver Proteins or compounds of silver with sulfates, sulfides, nitrates and nitrides of silver that attach
	to proteins of the human body and therefore accumulate (see article by FDA&rsquo;s Dr. Fung and Dr. Bowen). This accumulated buildup of silver compounds causes the cosmetic effect, Argyria, where the silver compound in the skin or tissue turns gray as
	it reacts to sunlight and other chemicals of the tissues. Official
	<U>M</U>aterial
	<U>S</U>afety
	<U>D</U>ata
	<U>S</U>heets (MSDS) of elemental silver clearly state that pure silver is passed from the body within 5 days of ingestion through the feces and urine. My own test, in which I took over 7 gallons last year of my own <strong>Electro-Pure&trade; </strong>25 PPM
	colloidal silver and a gallon or so of 150 PPM, further prove that it is not accumulating, even at these extreme levels of intake. I have had my eyes micro-scopically examined and gums inspected by MD doctors for traces of accumulated silver with none
	found.
</p>
<p><u>HYPE</u>:<strong> Colloidal silver   possesses a charge that keeps it suspended. And Colloidal Silver must be stored   only in glass containers as plastic bottles cause the product to lose its static   charge or somehow collect static charge, and it becomes   useless.</strong></p>
<p><u>FACT</u>: I feel that the companies spreading this hype are referring to a static charge either positive or negative, not fully understanding the ionization process that is part of the manufacture of this product.&nbsp; So when we think of &lsquo;charge&rsquo;
	in this way let us remember the old game of rubbing a balloon on our and finding it somewhat magnetized to the point it will &lsquo;stick&rsquo; to the ceiling or other opposite charged materials. If you take two balloons and rub them on your hair and
	put them together...what happens then? Well, you will find that they repel each other because they are each charged the same, whether both positive (+ to +) or both negative (- to -). Therefore, if the silver somehow <strong><U>did</U></strong> posses
	some sort of &lsquo;charge&rsquo; on the particles of silver, then all of the silver should move to the sides of the container and &lsquo;stick&rsquo; there! This is hardly the case in <strong>Electro-Pure&trade; </strong>brand Colloidal silver anyway.
	The reason it remains a colloid is that the particles of silver are so tiny that the pull of gravity in response to their mass is too little to cause the normal settling process. Also, the natural absorption of heat from the ambient causes a normal mixing
	process of the silver, known as convection currents. I am sure all of you have seen the tiny dust particles swirling around in a sun beam at a window inside your houses. This is basically how a colloid might look greatly magnified. A colloid is, by definition,
	of such sized particles (
	<U>at least</U> 0.1 to 0.001 microns in diameter) that they remain in suspension without settling. It remains as a stable colloid as a result of basic physical laws without the benefit of magical charge, ethereal force or magnetism!</p>
<p><u>HYPE</u>:<strong> Colloidal silver   is damaged by freezing.</strong></p>
<p><u>FACT</u>: You might check your manufacturer on this one, I suspect they sell their colloid in glass containers!!! Yes, if you freeze colloidal silver in a glass container it will ruin the product...because the glass will break when the ice expands
	and the product will escape!!!! At <strong>Electro-Pure&trade; </strong>we froze our colloid solid at 20 degrees below zero Fahrenheit for 12 hours in its plastic bottle and then after thawing to liquid again, an Independent Researcher tested it as with
	the other treatments and found it lost <strong><U>none </U></strong>of its efficacy and remained at 25 PPM silver content! <strong>Electro-Pure&trade; </strong>ships around the world, around the year, without fear of damage due to cold temperatures.
</p>
<p><u>HYPE</u>:<strong> High PPM is the   only criterion for efficacy.</strong></p>
<p><u>FACT</u>: Although Silver content is important, germicidal potency cannot necessarily be measured by the quantity of silver in the solution. However, the quality or value of the silver is important, and certainly the ability of the body to absorb or
	utilize that ingredient is also. An Independent Researcher has tested many brands of silver colloids. His findings indicate that even some rated as high as 750 PPM have much less than expected effect than does <strong>Electro-Pure&trade; </strong>brand
	colloid at only 25 PPM. So, to state matter-of-factly that PPM is everything is pure hype.</p>
<p><u>HYPE</u>:<strong> Ionic   silver is dangerous, and only a colloid with particles between 0.1 micron and   0.005 micron will work.</strong></p>
<p><u>FACT</u>: Ionic is defined as atoms or clusters of atoms having either an excess or a deficiency of electrons and therefore electrically charged. If there is a danger of silver causing Argyria, it appears when it is in <strong><U>Ionic   compounds</U></strong>	with other elements, not when in the pure form of silver. </p>
<p><u>HYPE</u>:<strong> Colloidal silver   works because of its magical spin, ethereal properties, some mysterious magnetic   affinity, positive or negative charge, nature of the water it is made with, or   any of many rather delicate and obscure properties some   claim.</strong></p>
<p><u>FACT</u>: Electro-Pure&trade; colloidal silver works quite simply because the silver particles inhibit an enzyme essential to respiration of single-celled organisms.</p>
<p><u>HYPE</u>:<strong> Colloidal silver   stays in suspension because of the spin direction on its   charge.</strong></p>
<p><u>FACT</u>: Analysis of spin direction on silver clusters would be extremely expensive and I suspect that the perpetrators of this &lsquo;claim&rsquo; don&rsquo;t understand charge, spin or the nature of Quantum Physics. We have not seen data supporting
	this claim anyway. They may not even understand the simple physics necessary to explain how a colloid stays suspended.</p>
<p><u>HYPE</u>:<strong> Colloidal silver   cures all infections as no bacteria, fungi or virus can become resistant to   it.</strong></p>
<p><u>FACT</u>: This statement is somewhat false, because of the use of the word <strong><U>all.</U></strong> There are many anaerobic bacteria an Independent Researcher has tested that are not affected by silver. I have recently received results from a
	student of an Arkansas College who researched <strong>Electro-Pure&trade; </strong>brand Colloidal Silver on a variety of E. Coli bacteria. She found that the silver had little to no effect on the variety she tested. Also, a researcher in Seoul recently
	completed as study using my product on Salmonella bacteria. So far, he believes the silver did not kill these either. Furthermore, when my lab associate tested
	<U>Nature&rsquo;s   Biotics&trade;</U> brand &lsquo;pro-biotic&rsquo; capsules containing six natural bacteria of the human digestive system. He found that the silver did not significantly effect them. This information is good in that the so-called &lsquo;good bacteria&rsquo; of the body
	are not destroyed by <strong>Electro-Pure&trade; </strong>Colloidal Silver. I will not say that it kills
	<U>all </U>bacteria and fungal infections. But, I know by the anecdotes we have read that it is generally effective on many of the <strong><U>pathogenic</U></strong> infections of humans and animals. We have received literally hundreds of these positive stories
	from satisfied customers over the past three years.</p>
<p><u>FACT</u>: Please feel free to send any other suspected hype claims to <strong>Electro-Pure&trade; </strong>and we will gladly look into the facts to find you an answer. It is our goal to educate the consumer with the truth about this wondrous product,
	rather than to promote hype just to sell more product.</p>
</td>
