<h2>Beta Glucan Product   Review</h2>
<p>
	A side by side comparison of the top 5 Beta 1,3/1,6 glucan products based upon independent 3rd party analysis.
</p>
<p>
	It is a highly purified particulate from the cell wall of a common baker&rsquo;s yeast (Saccharomyces cerevisiae) that yields the potent Beta 1,3 / 1,6 molecule &ndash; not cereal grains or other cheap fillers.
</p>

<p>
	Research shows that critical cells of our immune system have specific receptors for the Beta Glucan macromolecule. It&rsquo;s almost as if nature &ldquo;designed&rdquo; beta glucan to support our immune systems.
</p>
<p>
	Our purification process extensively removes fats, proteins, mannans and other contaminants that others leave in to add weight and to save money. Without this extensive and costly process, you can expect that many of the other brands to be minimally purified
	&ndash; at best!</p>
<p> Highly contaminated products cannot accomplish the &ldquo;turning on&rdquo; of the glucan receptors because the Beta 1,3 / 1,6 molecule is covered and masked by the contaminants. Not only do you significantly reduce the ability to enhance a healthy immune
	response, many may be allergic to some of these excess impurities.</p>
<p> Scientific tests prove that the Transfer Point Beta 1, 3-D Glucan is the best in any and every category that counts.</p>
<p>
	The following charts document the test results of the top five Beta Glucan products. Sealed samples for these comparisons were purchased through ordinary retail channels. They were delivered to an independent laboratory, and all subjected to the same
	tests.
</p>

<p align="center"><strong>The results speak for themselves.</strong></p>

<div class="thumbnail">
	<img src="Beta-sidebyside.gif" alt="Beta Analysis" />
</div>
<a name="Active Ingredient" class="style2" id="Active Ingredient">Active   Ingredient</a><br />
<p>
	Transfer Point delivers the highest amount of the Beta 1,3/1,6 glucan molecule</p>
<p>
	As this chart shows, based upon independent laboratory testing, our product delivers the highest dose of that specific active ingredient, the Beta 1,3 /1,6 glucan molecule.<br />
</p>
<p>
	Our customers can be assured that they will receive the best product and the best result possible. The Beta 1,3/1,6 molecule activates the front line defenders and gives the best support for a healthy immune response.
</p>

<div class="thumbnail">
	<img src="Beta-sidebyside2.gif" alt="Beta Glucan Value Comparison" />
</div>
<a name="Value" class="style3" id="Value">Value</a>
<p> Transfer Point delivers more of the active ingredient for every dollar spent.</p>
<p> Value is defined as a fair return or equivalent in goods, services, or money for something exchanged. Our next chart shows how much value you get for your hard earned dollar.</p>
<p> Do not waste money on cheap fillers. If you want to buy an immune supplement, get the most you can for that dollar &ndash; Buy the Transfer Point brand</p>

<div class="thumbnail">
	<img src="Beta-sidebyside3.gif" alt="Beta Glucan Purity comparison" />
</div>
<p>
	<span class="style5"><a name="Purity" class="style2" id="Purity">Purity</a></span>
</p>
<p>
	Safety and Efficacy&mdash;That&rsquo;s what you pay for and that&rsquo;s what you will get.<br />
</p>
<p>
	According to the US Centers of Disease Control, &ldquo;Almost 75% of all women will contract a vaginal yeast infection.&quot; Yeast infections can also occur in the mouth and lungs. Proteins are many times the primary cause of these illnesses.<br />
</p>
<p>
	Allergies and other significant health issues might give many pause for concern if people knew how much protein &amp; other impurities were left in their supplements.
</p>

<div class="thumbnail">
	<img src="Beta-sidebyside4.gif" alt="Beta Glucan Purity" />
</div>
<p>
<span class="style2"><a name="Purity is" id="Purity is">Purity is</a> the state of being free from taint, free from adulteration, and free from that which pollutes.
</p>
<p>
	Notwithstanding the lowest percentage of proteins - ash is of interest to further comment. Typically ash is the result of the digestion process where the fats and proteins are removed. Residues of salts remain unless the final product is thoroughly washed.
</p>
<p>
	Once again, the great care we take is shown via the nearly non-detectable levels of ash in Transfer Point products. You deserve a clean, pure, and safe product. Be sure you get it by purchasing the Transfer Point labeled product.
</p>



<p>
	Peer reviewed literature from Harvard, Tulane, University of Louisville, Baylor and a host of other prestigious institutions admit it. Everyone who is someone in the field of immunology agrees.
</p>
<p>
	Properly manufactured Beta 1,3/1,6 glucan linkage material is perhaps the best activator/potentiator of the immune system ever discovered. With the proper Beta 1,3/1,6 glucan product, your body's macrophages, neutrophils and natural killer (NK) cells,
	along with a host of others are brought to their highest potential to fight off any invader.<br />
</p>
<p> The majority of the population is unaware of the quality issues commonly associated with inferior glucan products. Proper 1,3/1,6 linkage, low protein and low fat content are considered by many professionals to be the standard requirements for a safe,
	effective non-toxic product. Without meeting these requirements, adverse side effects, such as yeast infections may occur.
</p>
<p>
	The John Hopkins University &amp; R-Tech Laboratories (a Division of Land O&rsquo; Lakes) did multiple tests on multiple lots of these company&rsquo;s products over a period of more than one year. Rtech is ISO 17025 and ISO 9002 certified using methods
	approved by the FDA and the USDA.
</p>
<p>
	<a role="button" data-toggle="collapse" href="#sidebyside_wrapper">Close this panel</a>
</p>
