<h1>Certificate of Analysis</h1>
<span >Beta-1, 3-D glucan A highly purified extract from baker&rsquo;s yeast </span>
<p>Origin: Saccharomyces cerevisiae</p>
<p>Physical Description: Fine beige/tan powder</p>
<p>Taste: Bland</p>
<p>Odor: Faint/mild</p>
<p>Composite Fraction Current Specification2 </p>
<p>Total Carbohydrates1 93.0 - 97.0 </p>
<p>Beta-1,3-D glucan complex3 83.0 &ndash; 86.5 </p>
<p>Protein (F=6.25) &lt; 3.5 </p>
<p>Fat, Soxhlet (AACC) &lt; 3.0 </p>
<p>Ash/550C(AOAC) &lt; 2.0 </p>
<p>Aerobic Plate Count &lt; 20,000 cfu/g </p>
<p>Coliforms &lt;10 cfu/g </p>
<p>Salmonella sp Negative </p>
<p>Yeast and Mold &lt;20 cfu/g combined </p>
<p>Notes:</p>
<p>1 By difference</p>
<p>2 Dry weight basis</p>
<p>3 Beta-1,3-D glucan complex includes side chains and is a portion of the carbohydrate fraction.</p>
<p>Series of testing done in house and confirmed with outside independent laboratories and institutions including <strong>Medallion  Laboratories, Rtech Laboratories and The John Hopkins University.</strong></p>

<a href="http://www.web-stat.com">
    <img style="border:0px;" alt="web statistics" src="http://server4.web-stat.com/3/al4477.gif" />
</a>
