<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Beta <span>Glucan</span></h1>
                    <h2>Powerful Oxygen-Mineral Supplement</h2>

                    <div class="thumbnail" data-toggle="modal" data-target="#product_label">
                        <img src="betaglucan500se.jpg" alt="Beta Glucan" />
                    </div>

                    <div class="modal fade" id="product_label" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Beta Glucan Label</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="thumbnail">
                                        <img src="betaglucan_facts.jpeg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <h1>$69.95</h1>
                    <br />
                    <h3>Retial: <s>$74.95</s></h3>
                    <p class="alert alert-info">500 mg. 60 caps</p>

                    <div id="form_body_wrapper" data-partial data-partial-name="component_form-body" data-partial-values>
                      "route_redirectLink" : "betaglucan"

                      "inputs_hidden":
                          "describe" : "HSBG500-60",
                          "price" : "69.95",
                          "discStr" : "1,12,69.95",
                          "id" : "Beta Glucan 500 mg 60 caps"
                    </div>

                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer">
                    </div>

                    <hr />





                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->
                <h3>
                  PRESS RELEASE: Transfer Point Beta Glucan again found to be superior to all other brands on the market CLICK HERE
                </h3>

                <p>
                    Transfer Points Premium Beta 1-3D Glucan is a remarkable natural supplement that stimulates powerful macrophage activity (Immune Cell).
                </p>
                <ul>
                    <li>
                        First line of defense to Strengthen The Immune System
                    </li>
                    <li>
                        Validated by over 50 years of research
                    </li>
                    <li>
                        Empower your immune system
                    </li>
                    <li>
                        Activate your macrophage and NK cells
                    </li>
                    <li>
                        "Making Your body an arsenal of defense"
                    </li>
                    <li>
                        Safer than many of the foods you eat.
                    </li>
                </ul>
                <p>
                    This is a real breakthrough in preventive nutrition. Has potent anti-oxidant properties but yet is a safe, non-toxic approach to your immune system health. Product side by side analysis Certificate of analysis FAQ - Common Questions: Transfer Points Premium
                </p>

                <!-- Collapsable Side By Side  -->
                <a role="button" data-toggle="collapse" href="#sidebyside_wrapper">Product side by side analysis</a>
                <div class="collapse" id="sidebyside_wrapper" data-partial data-partial-src="/betaglucan/Beta-sidebyside.html"> </div>
                <hr />

                <!-- Collapsable Certificate of anlaysis -->
                <a role="button" data-toggle="collapse" href="#certificateofanalysis_wrapper">Certificate of analysis</a>
                <div class="collapse" id="certificateofanalysis_wrapper" data-partial data-partial-src="/betaglucan/certificate_of_analysis.html"></div>
                <hr />

                <!-- Collapsable faq-->
                <a role="button" data-toggle="collapse" href="#faq_wrapper">FAQ - Common Questions:</a>
                <div class="collapse" id="faq_wrapper" data-partial data-partial-src="/betaglucan/FAQ_common_questions.html"></div>
                <hr />

                <a target="_blank" href="TransferPointstackup.pdf">Transfer Points Premium Beta vs. Its Competitors</a>
                <!-- End Product Description -->
                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "betaglucan"
                </div>

            </div>



        </div>


    </div>
</div>
<script>
    $(function() {
        // Enable popups
        $('[data-toggle="popover"]').popover();
        initPage();
        // Enable popups

    })
</script>
