<p>
	<strong>What is Beta 1, 3-D glucan? </strong>Beta 1, 3-D glucan is the sole active ingredient in Beta Glucan. It is derived from the cell walls of baker's yeast, making it the precise substance for which the actual glucan macrophage receptor (CR3, mac-1,
	CD11/CD18) has been identified. Beta 1, 3-D glucan is technically a polybranched polyglucose - so complex some refer to it as a fiber. </p>
<p><strong>Who will benefit from taking Beta glucan? </strong>Everyone has the potential to benefit from taking Beta glucan in the correct dose. Especially people with impaired immunity, or who are susceptible to allergies, autoimmune disease, infectious
	disease, slow and incomplete healing and cancer, undergoing radiation or chemotherapy, or exposed to radiation from external sources such as UV or electromagnetic fields, or with a high risk of cardiovascular disease. People under physical or emotional
	stress, or who have poor nutrition or who consume food preservatives. Beta glucan can also help to slow the aging process. Athletes and those who work out extensively will notice more benefit from their workouts while taking Beta glucan. Animals will
	also benefit from taking Beta glucan, because their immune systems are very similar to ours. </p>
<p><strong>Are the effects of Beta 1, 3-D glucan backed by scientific research? </strong>Hundreds of scientific studies originating from such prestigious institutions as Tulane, Harvard, and the U. S. Armed Forces attest to the safety and efficacy of Beta
	1, 3-D glucan. </p>
<p><strong>Why haven't we heard about Beta glucan before? </strong>For nearly three decades, Beta 1, 3-D glucan has been available to laboratories and medical schools. However, to purchase 1 (one) 100-mg sample of Beta 1, 3-D glucan, cost was close to $200.00!
	This made it highly prohibitive from a commercial standpoint. </p>
<p><strong>Is Beta glucan derived from bakers yeast the most effective type of glucan? </strong>Glucans derived from barley, oats, or other grains have been shown to be ineffective as an immune modulator. Only Beta 1, 3-D glucan from the cell wall of baker's
	yeast has been shown to have a potent effect on the immune system, in an economical manner. </p>
<p><strong>I am allergic to yeast. </strong>Will this cause a problem? No. Although derived from baker's yeast (Saccharomyces ceravisiae), Beta glucan is a pure isolate and does not contain enough yeast proteins to cause an allergic reaction. </p>
<p><strong>Will Beta glucan cause over-stimulation of my immune system? </strong>No. The presence of Beta glucan potentiates the receptors on the surface of the macrophage. Only the presence of non-self (virus, bacteria, fungi, cancer, parasites, etc.) causes
	the macrophage to become stimulated. Beta glucan alone does not stimulate. </p>
<p><strong>Will Beta 1, 3-D glucan cause or expand an autoimmune situation? </strong>Beta 1, 3-D glucan does not create a danger. Considerable peer reviewed data indicates just the opposite. </p>
<p><strong>Are there any drug reactions that can occur when taking Beta glucan? </strong>There are no adverse effects known when Beta 1, 3-D glucan is taken in conjunction with pharmacological drugs. Beta 1, 3-D glucan safely enhances the effect of many
	anti-infective drugs, cholesterol reducing drugs and chemotherapeutic agents. </p>
<p><em>Dr. Vaclav Vetvicka from the University of Louisville answers the three most important questions about Beta glucan:</em><br />
	<strong>Is Beta 1, 3-D glucan safe and effective? </strong>For over 40 years, beta glucans have been thoroughly tested on everything from earthworms to human beings&hellip;.even plants. Use of materials ranging from cancer to infectious disease to allergies&hellip;Beta
	glucan always works. It appears that the primary things to consider about these compounds are that they are properly and sufficiently purified and are they biologically active. They are certainly safe. </p>
<p><strong>Beta  glucans seem to have a great range of price in the marketplace. When  one shops, how can one determine if they are getting a properly  prepared, sufficiently purified and biologically active material? </strong>Price is no indicator at all.
	Unless that particular batch has been properly assayed for purity and potency, you can not know if the dose is in the proper amount. Also, you can not expect a quality product unless every batch is tested&hellip;including a test for bioactivity. Many
	companies test nothing at all. </p>
<p><strong>How can A.J. Lanigan claim that he has the best Beta 1, 3-D glucan on the market? </strong>I can say the following about the A.J. Lanigan brands. He has set the highest standards in the industry for purity and potency. He rejects over 90% of the
	material produced in their US factory and I know of no company in the world that is willing to do that. They can not afford it. I can further state that his brands have been the most intensively studied and we know and understand more about his material
	than any other available on the market today. He continues to expand this work by comparing materials on a side by side basis and he publicly reports the results. In a market that has many snake oil salesmen, you know best what you are getting when A.J.
	Lanigan&rsquo;s name is on the bottle. </p>


<p>&nbsp;</p>
<a href="http://www.web-stat.com">
	<img style="border:0px;" alt="web statistics" src="http://server4.web-stat.com/3/al4477.gif" />
</a>
