<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Hepa<span>San</span></h1>

                    <div class="thumbnail">
                        <img src="/Hepasan/Hepasan.jpg" alt="Hepasan" />
                    </div>

                    <h3>$18.95</h3>
                    <h2>60 capsules</h2>

                    <div data-partial data-partial-name="component_form-body" data-partial-values>
                        "route_redirectLink" : "hepasan"

                        "inputs_hidden":
                            "Price" : "18.95",
                            "DiscStr" : "1,100,18.95",
                            "DiscItem" : "N",
                            "ID" : "Hepasan 60 caps"
                    </div>

                    <div id="form_footer_wraper" data-partial data-partial-name="component_form-footer"></div>

                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->

                <h3>Hepasan - A Unique and Effective Liver Flush</h3>


                <p>
                    HEPASAN Liver Cleanse is a liver, kidney and gall bladder flush that combines the best of modern science and traditional American folk medicine. <strong>Hepasan starts with detoxification at the cellular level</strong> by boosting
                    the activity of glutathione the antioxidant that plays an important role in energy production of ATP. In doing so it allows the liver to burn accumulated fat while eliminating toxins. Fat and toxins are the two enemies that cause the
                    liver to clog and not function optimally.
                    <strong>Hepasan increases microcirculation providing better flow through the fine capillaries of the liver.</strong> It thins the blood, bile and interstitial fluids that flow through this all important organ. Contains Black Strap
                    Molasses 95% sugar removed, Red Clover, Alpha Lipoic Acid, Potassium Citrate and Acetyl Cysteine. 60 Capsules.
                </p>
                <p>
                    <a data-toggle="collapse" href="#more_info" aria-expanded="false" aria-controls="collapseExample">More Hepasan Information</a>
                </p>
                <div class="collapse" id="more_info">
                    <div class="well">
                        <p>
                            The ingredients in Hepasan are designed to work synergistically to burn off and utilize the stored carbohydrates and fats that are clogging the liver in the form of glycogen and cholesterol. It also stimulated the liver metabolically to breakdown toxins
                            and chelate out heavy metals and dangerous chemicals.
                        </p>
                        <p>
                            Hepasan also widens the veins and arteries by relaxing them, a process known as vasodilation, to increase blood flow. At the same time it thins the blood and the interstitial fluids using natrual herbal blood thinners and mucus thinners to facilitate
                            toxin elimination.
                        </p>
                        <p>
                            When taken as directed with apple juice it thins the bile as well in order to loosen wastes and backed up bile. Excess bile is stored in the gall bladder and is the basis of stones. It should be flushed regularly. Hepasan increases circulation while thinning
                            the blood, bile and interstitial fluids to create a gentle flushing action. Hepasan breaks down dangerous aldehydes that are a byproduct of alcohol consumption maing it great for hangovers.
                        </p>
                        <p>
                            Hepasan employs oxygen to stimulate detoxification at the cellular level. Every cell in your body produces energy through the ATP oxygen cycle. In fact, your body produces twice your weight in ATP every day, constantly burning it and rebuilding it. This
                            is also known as cellular respiration or the citric acid cycle. In aerobic organisma, the citric acid cycle is the chemical conversion of carbohydrates, fats and proteins into carbon dioxide and water to generate usable energy.
                            This metabolic pathway involves the breakdown of carbohydrates, resulting in the production of ATP.
                        </p>
                        <p>
                            The ingredients in Hepasan work together to boost ATP production and increase antioxidant activity by enhancing a major player in this cycle - the antioxidant glutathione. Hepasan has superior antioxidant and free radical scavengers that are both hydrophilic
                            and lipophilic, making it a double duty antioxidant and free radical scavenging formula. It is clear that toxin build up in your liver and subsequently in the rest of your body is the result of impaired function brought on
                            by a surplus of starch, cholesterol and toxins. On the other hand the liver is very dynamic, meaning it jumps in action and gets the job done rather quickly when given the opportunity and ingredients that it needs.
                        </p>
                        <p>
                            Hepasan contains phytoestrogens that mix with and eliminate xenoestrogens. Many of the most dangerous cancer causing chemicals are fat soluble and act like as well as look like our homones, actually fooling cels into thinkint that they are endogenous
                            hormones. It is a word that not many people are familiar with but are all too familiar with some of the exqmples of xenoestrogens such as PCB, DDT, inductrial pollutants, pesticides, fertilizers, solvents and residues of lastics.
                            These substances bind to cholesterol molecules and travel around your body harassing the reproductive center of your cells in mutagenic and carcinogenic ways. They are filtered out by the liver and broken down into water soluble
                            toxins for excretion. Hepasan helps break down xenoestrogens into less harmful water soluble toxins that are easily eliminated. Hepasan is formulated to assist the kidneys in a number of ways. It helps to make the urine less
                            acidic and reduces the formation of kidney stones. It prevents reduction in renal function while reducing inflammation that is common in chronic urinary infection. Hepasan also enhances cleansing by improving elimination because
                            it relaxes the kidney.
                        </p>
                        <p>
                            Hepasan is a liver, gall bladder and kidney flush. It is intended to be taken with apple juice. An individual interested in effecting a thorough cleanse should take four capsules of Hepasan with six ounces of apple juice three times a day for five days.
                            It is important to clear the digestive tract prior to engaging in a liver and gall bladder cleanse as these two organs empty into the intestines and colon. This will give the excreted wastes a place to empty into and prevent
                            an uncomfortable backup of toxins commonly referred to as a detox reaction. When taking Hepasan, it is preferable to use organic apple juice and is a good idea to spread the three doses throughout the day either shortly before
                            or after mealtime.
                        </p>
                    </div>
                </div>

                <!-- End Product Description -->

                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "hepasan"
                </div>
            </div>



        </div>
    </div>
</div>

<script>
$(function(){

  initPage();

});
</script>
