.panel{
  &.panel-blank{
    border-radius: 0px;
    margin-bottom: 0px;
    @media(max-width: $value_md){
      margin-bottom: $value_spacing-margin;
      border-radius: $value_border-radius;
    }
  }
}
