.product{
  // display: flex;

  &_header{}

  &_body{

    .carousel{

      .carousel-caption{
        // color: $color_green-light;
        font-size: 150%;
      }

      .carousel-indicators{
        li{
          border-color: $color_green;
          background-color: $color_green;

          &.active{
            background-color: $color_green-light;
          }
        }
      }

      .carousel-control{
        background: none;
      }
    }


  }

  &_header{}

  &_disclaimer{}
}
