<div class="panel-body">
    <div class="row">
        <div class="col-md-4">

            <!-- Start Left-Side of product presentation -->

            <div class="product_stage">
                <h1>Colo<span>san</span>  <span>Spe</span>cial</h1>

                <div class="thumbnail">
                    <img src="colosan-and-caps.jpg" alt="Colosan" />
                </div>

                <h2><s>$50.90</s></h2>
                <h3>$39.95</h3>
                <h4>Plus 1 Colosan Caps 900 mg. 120 caps</h4>


                <form class="form" method=post action="http://www.asecurecart.net/server/cart.aspx/healthsprings">

                    <input type="hidden" name="ReturnLink" VALUE="http://www.healthsprings.net/Colosan/colosan.html">
                    <input type="hidden" name="Weight" VALUE=".00">
                    <input type="hidden" name="Show" value="http://www.healthsprings.net/Colosan/colosan-oxylift.html">
                    <input type="hidden" name="DiscStr" value="1,24,19.95">
                    <input type="hidden" name="DiscItem" value="N">
                    <input type="hidden" name="Describe" VALUE="HSCSCP120">
                    <input type="hidden" name="ID" VALUE="Colosan Capsules 120 caps">

                    <div class="input-group">
                        <div class="input-group-addon">Qty</div>
                        <input type="text" class="form-control" name="Qty" size=3 value="">
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" Name="AddOn1" Value="Free Dr Wongs Enzyme Therapy CD">
                        Free Enzyme CD
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg"> <i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                </form>





            </div>

            <!-- End left-side of product presentation -->
        </div>
        <div class="col-md-8">
            <!-- Start product description -->
            <h2>Take advantage of this Special Combo Price</h2>
            <p>
                This Colosan Special is being offered because many of our customers have active lifestyles but are also very conscientious about their health budget.
            </p>
            <p>
                Colosan powder is the most cost effective products in its class. It is not filled with all kinds of special ingredients that are meaningless and useless. Thus it is effective and affordable by all.
            </p>
            <p>
                The Colosan caps are great for those times when your busy or away having to travel. Just pop the capsules in your mouth and drink some water and that's it.
            </p>
            <p>
                We have priced these so that you can try them for yourself.
            </p>
            <!-- End Product Description -->


        </div>



    </div>


</div>
