<div class="panel-body">
    <div class="row">
        <div class="col-md-4">

            <!-- Start Left-Side of product presentation -->

            <div class="product_stage">
                <h1>Colo<span>san</span></h1>
                <h2>Twin Pack</h1>

                <div class="thumbnail">
                    <img src="colosantwin.jpg" alt="Colosan" />
                </div>


                <h3>$49.90</h3>
                <h2>($21.95 per bottle)</h2>


                <form class="form" method=post action="http://www.asecurecart.net/server/cart.aspx/healthsprings">

                    <input type="hidden" name="ReturnLink" VALUE="http://www.healthsprings.net/Colosan/colosan.html">
                    <input type="hidden" name="Weight" VALUE=".00">
                    <input type="hidden" name="Show" value="http://www.healthsprings.net/Colosan/colosan-oxylift.html">
                    <input type="hidden" name="DiscStr" value="1,4,43.90">
                    <input type="hidden" name="DiscItem" value="N">
                    <input type="hidden" name="Describe" VALUE="HSCSN200-2">
                    <input type="hidden" name="ID" VALUE="2-Colosan 200 grams powder">
                    <div class="input-group">
                        <div class="input-group-addon">Qty</div>
                        <input type="text" class="form-control" name="Qty" size=3 value="">
                    </div>
                    <div class="checkbox">
                        <label>
                        <input type="checkbox" Name="AddOn1" Value="Free Dr Wongs Enzyme Therapy CD">
                        Free Enzyme CD
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg"> <i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                </form>





            </div>

            <!-- End left-side of product presentation -->
        </div>
        <div class="col-md-8">
            <!-- Start product description -->
            <h2>Save with the special Colosan Twin Pack</h2>
            <p>
                How would you like to <u>save $7.50 on your Colosan purchase?</u>
            </p>
            <p>
                Buy the Colosan Twin Pack and get a total savings of $7.50. This is a great way to save on an already safe, affordable, and effective product.
            </p>
            <p>
                Not only do you save on the purchase price but you save on the shipping because you are only paying shipping 1 time instead of twice.
            </p>
            <!-- End Product Description -->


        </div>



    </div>


</div>
