<div class="panel-body">
    <div class="row">
        <div class="col-md-4">

            <!-- Start Left-Side of product presentation -->

            <div class="product_stage">
                <h1>Colo<span>san</span></h1>
                <h2>Oxygen for Superior Colon Hygiene</h2>

                <div class="thumbnail">
                    <img src="colosan.jpg" alt="Colosan" />
                </div>


                <h4><s>$29.95</s></h4>
                <h3>$23.96</h3>

                <p class="alert alert-info">
                    200 Grams Powder
                </p>



                <div data-partial data-partial-values data-partial-name="component_form-body-enzyme">

                    "route_redirectLink" : "colosan"

                    "inputs_hidden":
                        "Weight" : ".00",
                        "DiscStr" : "1,1,22.95;2,2,22.45;3,3,21.95;4,4,21.45;5,5,20.95;6,11,20.45;12,12,19.95",
                        "DiscItem" : "N",
                        "Describe" : "HSCSN200",
                        "ID" : "Colosan 200 grams powder"

                </div>


                <div data-partial data-partial-name="component_form-footer"></div>


            </div>

            <!-- End left-side of product presentation -->
        </div>
        <div class="col-md-8">
            <!-- Start product description -->
            <p>
                There are common goals to healthful living.
            </p>
            <p>
                One primary goal is proper colon hygiene. The cleansing of the digestive tract is a logical place from which to embark on a healthful regimen. Ask any contractor- you have to clean up before you repair and rebuild. The same concept applies to well being
                and rejuvenation.
            </p>
            <p>
                Eliminate built up toxins before you provide the body with what it needs to restore well being.
            </p>
            <p>
                There is no better way to clean the colon than with oxygen since digestion is known to be a process of oxidation. By introducing oxygen into the intestines and the colon, one can assist the process of complete digestion as well as oxidizing undigested
                material.
            </p>
            <p>
                Because of constipation many of our customers use Colosan for safe bowel management.
            </p>
            <div class="thumbnail">
              <img src="colosan_info.jpeg" alt="Colosan Lable" />
            </div>
            <!-- End Product Description -->


        </div>



    </div>


</div>
