<div class="panel-body">
    <div class="row">
        <div class="col-md-4">

            <!-- Start Left-Side of product presentation -->

            <div class="product_stage">
                <h1>Colo<span>san</span> Caps</h1>

                <div class="thumbnail">
                    <img src="colosancaps.jpg" alt="Colosan" />
                </div>

                <p class="alert alert-info">
                    120 caps 900 mg
                </p>

                <h2><s>$29.95</s></h2>
                <h3>$23.96</h3>



                <div data-partial data-partial-name="component_form-body-enzyme" data-partial-values>
                    "route_redirectLink" : "colosan"

                    "inputs_hidden":
                        "Weight" : ".00",
                        "DiscStr" : "1,: 95",
                        "DiscItem" : "N",
                        "Describe" : "HSCSCP120",
                        "ID" : "Colosan Caps: 20 caps"
                </div>







            </div>

            <!-- End left-side of product presentation -->
        </div>
        <div class="col-md-8">
            <!-- Start product description -->
            <h2>Colosan Caps for the Active Lifestyle</h2>
            <p>
              Colosan turns the undigested material into CO2, waste and water. Colosan is a cathartic and initially will give you liquid stools. This is a sign that the product is working.
            </p>
            <p>
              The gentle oxidizing action of Colosan can be compared with three other forms of laxative. The amphetamines that are used as diuretics and contain addictive substances. Herbal laxatives that employ micro toxins, or small poisons, to induce the system to purge itself of valuable water in order to rid the digestive tract of the toxin.
            </p>
            <p>
              These two methods drain the body of necessary fluids in their attempt to wash out the system and do not contribute to good health. Fiber type laxatives, like psyllium, taken to maintain regularity, force matter through the tract via the plug or bolus of fiber. Fiber is an appropriate natural way to maintain regularity but oxygen is a gentler more sensible method.
            </p>

            <!-- End Product Description -->


        </div>



    </div>


</div>

<script>
  $(function(){
    initPage()
  });
</script>
