<div class="panel panel-product">
    <div id="colosan_wrapper" data-partial data-partial-src="/Colosan/colosan_product.html">
    </div>
    <hr />

    <!-- <div id="colosan_twin_wrapper" data-partial data-partial-src="/Colosan/colosan_twin_product.html">
    </div> -->
    <hr />

    <div data-partial data-partial-src="/Colosan/colosan_caps_product.html" id="colosan_caps_wrapper">
    </div>
    <hr />


    <!-- <div data-partial data-partial-src="/Colosan/colosan_special_product.html" id="colosan_special_wrapper">
    </div> -->

    <hr />
    <!-- Populate with shipping info -->
    <div class="panel-body">
        <div id="shipping_wrapper" data-partial data-partial-name="widget_shipping"></div>
    </div>

    <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
      "route_pageurl" : "colosan"
    </div>
</div>
<script>
    $(function() {
      initPage();
    })
</script>
