<div class="panel panel-sidebar">

    <div class="panel-heading">
        <h1>Great For Regularity <span>The Perfect Choice For Any Cleansing Program</span>.</h1>
    </div>

    <div class="panel-body">
        <div class="well">
            <p>
                <span class="header_green-light">Colo</span><span class="header_white">san</span> should be used as a first step in any health regimen. This will help to prevent the usual Hoxsey reaction, healing crisis or detox reaction that individuals undertaking a cleansing program will frequently encounter.
            </p>
            <p>
                Colosan does dramatically improve absorption of nutrients by cleaning the surfaces of the intestines. Individuals that need to gain weight or have difficulty maintaining their weight because of malabsorption problems benefit greatly.
            </p>
        </div>
        <p>
            <span class="header_green-light">Colo</span><span class="header_white">san</span>Practitioners familiar with natural healing are generally overjoyed to learn about this valuable tool for avoiding these unpleasant reactions. It is very logical to clean out the organs of elimination prior to attempting to detoxify the body.
        </p>
        <p>
            This way the body can eliminate the toxins more readily rather that have them stirred up, floating around and creating complications. Common symptoms of a healing crisis are nausea, headaches, tiredness, or pain in the liver and kidneys. Colosan makes
            this unpleasantry a thing of the past.
        </p>
        <p>
            Many colon therapist love Colosan because it enables them to clean the entire 21 feet of the digestive tract as well as loosening the impacted material in the lower colon. By giving Colosan to their patients prior to the colonic they can effect a more
            thorough cleanse.
        </p>
        <p>
            This creates very satisfied, happy clients. The goal is to clear the small intestines and colon of impacted material and improve their functions of assimilation, absorption and elimination. This is an important first step in establishing good health.
            The average person has six to twelve pounds of putrefacation rotting away in their gut.
        </p>
        <p>
            Your body encases this muck in mucus to keep itself from being poisoned. This fecal fortress is a home base for parasites, germs, bacteria and viruses to multiply in and organize their attacks on your body. By eliminating their home base you can prevent
            pathogens from getting a toe hold on your system and help to prevent recurrences of annoying bugs.
        </p>
    </div>

    <div data-partial data-partial-name="widget_facebook-page"> </div>

</div>

<script>
$(function(){
  initPage();
})
</script>
