/**
 |---------------------------------
 | Banner and Logo
 |---------------------------------
 |
 | Upper banner styling
 |
 | @author Felipe Tadeo
 */

.thumbnail.logo-wrapper{
  border-radius: $value_border-radious;
  text-decoration: none;
  display:block;
  max-height: 133px;
  height: 133px;
  width: auto;
  position: relative;

  &:hover{
    text-decoration: none !important;
  }
}

 .banner{
   border-radius: $value_border-radious;
   background-color: $color-green;
   background-image: $image_half-leaf, $image_top-banner;
   background-size: 20%, 50%;
   background-position: right 150%, right center;
   background-repeat: no-repeat;
   color: $color-green_neon;
   padding: 21px;
   margin-bottom: $value_spacing-padding;

   h1{
     font-size: 150%;
     margin: 0px;
     span{
       color: $color-font_secondary;
     }
   }
 }
