/**
 |---------------------------------
 | lower_footer
 |---------------------------------
 |
 | All styling for the lower footer.
 |
 | @author Felipe Tadeo
 */

 .lower_footer{
   margin-top: $value_spacing-margin;

   a{
     color: $color-font_secondary;
     text-decoration: underline;
     margin-left: 15px;
     margin-right: 15px;
     display: inline-block;
   }

   @media screen and(max-width: $value_md){
     margin-bottom: $value_spacing-margin;
   }
 }

 .copy_right{
   text-align: center;
   color: $color-green;
   margin-top: $value_spacing-margin;

   @media screen and(max-width: $value_md){
     margin-bottom: $value_spacing-margin;
   }
 }
