/**
 |---------------------------------
 | navbar
 |---------------------------------
 |
 | All default styling for the navbar-healthsprings goes here.
 |
 | @author Felipe Tadeo
 */
.navbar {
    &.navbar-healthsprings {
        border: solid 1px rgb(248, 252, 252);
        background-color: $color-green_neon;
        min-height: 40px;
        border-radius: $value_border-radious;

        .nav {
            &.navbar-nav {
                li {
                    a {
                        color: $color-font_pirmary;
                        text-transform: uppercase;
                        padding: 10px $value_spacing-padding;
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    &.active,
                    &:hover {
                        a {
                            color: $color-green;
                            background-color: transparent;
                        }
                    }
                }

                .dropdown {
                    .dropdown-menu {
                        .dropdown-header {
                            padding: 2px $value_spacing-padding_low;
                        }

                        .divider {
                            margin: 2px $value_spacing-margin_low;
                        }

                        a {
                            font-size: 75%;
                            padding: 2px $value_spacing-padding_low 2px $value_spacing-padding;
                        }
                    }
                }
            }
        }

        .fa-facebook-official{
          color:  rgb( 61,  90, 150);
        }
        .fa-google-plus-official{
          color: rgb(219,  76,  63);
        }

    }
    // Mobile Navbar
    .navbar-header {
        background-color: white;
        border-radius: $value_border-radious;

        .navbar-brand {
            padding: 5px 5px 0 $value_spacing-padding;
        }

        .navbar-toggle {
            min-height: 34px;

            &:active {
                background-color: rgb(200, 200, 200);
            }

            .icon-bar {
                transition: all 1s;
            }

            &:not(.collapsed) {
                .icon-bar {
                    &.top {
                        // position: absolute;
                        opacity: 0;
                    }

                    &.middle {
                        position: absolute;
                        top: 12px;
                        right: 10px;
                        transform: rotate(135deg);
                    }

                    &.bottom {
                        position: absolute;
                        top: 12px;
                        left: 10px;
                        transform: rotate(-135deg);
                    }
                }
            }

            .icon-bar {
                border: solid 1px $color-green_dark;
            }
        }
    }
    @media screen and(max-width: $value_sm) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        border-radius: 0 !important;
        box-shadow: 0 0 10px rgb(100, 100, 100);
        max-height: 90%;
        overflow-y: auto;

        .navbar-header {
            border-radius: 0 !important;
        }
    }
}
