/**
 |---------------------------------
 | Panel-News
 |---------------------------------
 |
 | This style sheet will contain the default styling for the the lower news
 | panel that will be displayed through out various layouts.
 |
 | @author Felipe Tadeo
 */

 .panel.panel-news{
   padding-bottom: $value_spacing-padding+20;
   background-image: $image_gray-leaf;
   background-repeat: no-repeat;
   background-position: bottom -150px center;
   border-radius: $value_border-radious 0px 0px $value_border-radious;
   margin-bottom: 0px;

   @media screen and(max-width: $value_md){
     border-radius: 0px 0px $value_border-radious $value_border-radious;
     margin-bottom: $value_spacing-margin;
   }

   .panel-heading{
     background-color: transparent;
     border: 0px;

     @media screen and(max-width: $value_md){
       text-align: center;
     }

     h1{
       color: $color-green_light;
       font-family: $font_secondary;
       font-size: 290%;
       margin-top: 0px;

       span{
         color: $color-gray;
       }
     }
   }

   .panel-body{
     background-color: $color-gray_light;
     margin-left: 15px;
     border-radius: $value_border-radious 0px 0px $value_border-radious;
     border: solid 1px $color-gray;
     padding-top: 0px;
     padding-bottom: 0px;

     @media screen and(max-width: $value_md){
       margin-left: 0px;
       border-radius: 0px;
       text-align: center;
     }

     a{
       text-decoration: underline;
     }

     p{
       margin: 0px;
     }

     .info_wrapper{
       padding: $value_spacing-padding;
     }

   }
 }
