/**
 |---------------------------------
 | Poster
 |---------------------------------
 |
 | Poster content
 |
 | @author Felipe Tadeo
 */

 .poster{
   padding: $value_spacing-padding;
   background: $image_waterfall2;
   background-image: $image_green-bosh, $image_waterfall2;
   background-position: center center;
   background-position: bottom -50px right, center center;
   background-size: normal, cover;
   background-repeat: no-repeat, no-repeat;
   min-height: 400px;
   margin-bottom: 0px;

   @media screen and(max-width: $value_md){
     border-radius: $value_border-radius $value_border-radius 0px 0px;
   }

 }
