.panel{
  &.panel-product{
    border-radius: $value_border-radius 0px 0px $value_border-radius;
    margin-bottom: 0px;

    @media (max-width: $value_md){
      border-radius: $value_border-radius;
      margin-bottom: $value_spacing-margin;
    }

    .panel-body{

      .well{
        h1{
          font-size: 200%;
        }
        h2{
          font-size: 150%;
        }
      }

      a{
        color: $color_green;
        text-decoration: underline;

        &:hover{
          color: black;
        }
      }

      .product_stage{
        text-align: center;

        h1{
          color: $color_green;
          span{
            color:$color_gray;
          }
        }

        h2{
          color: $color_green;
          font-size: 100%;
          margin-bottom: $value_spacing-margin;
        }

        h3{
          color: $color_gray;
        }

        .thumbnail{
          border: 0;
          margin-bottom: $value_spacing-margin;
        }

      }

    }
  }
}
