/**
 |---------------------------------
 | SideNav
 |---------------------------------
 |
 | Left-hand side navbar.
 |
 | @author Felipe Tadeo
 */
.secondary-navbar {
    background-color: $color-green_light; // fallback for non-gradient support
    background-image: $color-gradient-to_bottom_right; // fallback for non double image support
    background-image: $image_corner-bush, $color-gradient-to_bottom_right;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom -50px left -40px, center center;
    padding: $value_spacing-padding;
    border-radius: $value_border-radious 0 0 $value_border-radious;
    border: solid 1px $color-gray_light;
    margin-bottom: 0;
    position: relative;
    display: block;
    min-width: 100%;

    a{
      color: black;
    }

    @media screen and(max-width: $value_md){
      border-radius: $value_border-radius;
      margin-bottom: $value_spacing-margin;
    }
    // "Call toll free" Heading
    h1 {
        font-size: 110%;

        @media screen and(max-width: $value_md){
          text-align: center;
          font-size: 150%;
          margin-bottom: $value_spacing-margin;
          color: $color-font_secondary;
        }
    }

    .list-group {
        text-align: right;
        @media screen and(max-width: $value_md){
          text-align: left;
        }

        background-color: transparent;

        .list-group-item {
            background-color: transparent;
            border: 0;
            padding: 3px $value_spacing-padding;
            color: $color-font_pirmary;
            font-weight: bold;

            @media screen and(max-width: $value_md){
              border: solid 1px $color-green_dark;
              background-color: white;
              padding: $value_spacing-padding;

              &.dropdown{
                padding: 0px;
                span:first-of-type{
                  display: block;
                  width: 100%;
                  padding: $value_spacing-padding;
                }
              }

            }

            &.heading-wrapper {
                padding-right: 0;

                @media screen and(max-width: $value_md){
                  padding: 0px;
                }
            }

            &:hover {
                text-decoration: underline;
            }

            .glyphicon{
              color: $color-green_light;

              @media screen and(max-width: $value_md){
                float: right;
                color: $color-font_secondary;
              }
            }
        }

        .list-group-item-heading {
            background-color: $color-green;
            padding: 3px $value_spacing-padding;
            border-radius: $value_border-radious 0 0 $value_border-radious;
            color: $color_font-secondary;

            @media screen and(max-width: $value_md){
              border-radius: 0px;
              text-align: center;
              margin-bottom: 0px;
            }

        }
    }
}
