/**
 |---------------------------------
 | Title
 |---------------------------------
 |
 | Description
 |
 | @author Felipe Tadeo
 */

 .panel{
   &.panel-sidebar{
     background: $color-gradient_dark;
     border-radius: 0px $value_border-radius $value_border-radius 0px;
     margin-bottom: 0px;

     @media screen and(max-width: $value_md){
       border-radius: $value_border-radius;
       text-align: center;
     }

     .panel-heading{
       color: $color-font_secondary;

       h1{
         font-size: 130%;

         span{
           color: $color-yellow_dark;
         }
       }

     }

     .panel-body{
       color: $color-font_secondary;

       .well{
         font-size: 90%;
         text-align: center;
         background-color: $color-gray_medium;
         color: $color-font_pirmary;

         p{
           margin: 0px;
         }

       }

       ul{
         list-style: none;
         padding-left: 5px;
       }

       h3{
         color: $color-yellow_dark;
         font-size: 120%;
       }

       blockquote{
         font-size: 90%;
         border-left: solid 1px $color-yellow_dark;
         padding: $value_spacing-padding_low;

         p:last-of-type{
           text-align: right;
           font-style: italic;
         }
       }

       a{
         color: $color-green_light;
       }

     }

     .panel-footer{
       background-color: transparent;
       border: none;
       padding: 10px 40px;

       .thumbnail.verisign{
         padding:{
           left: 30px;
           right: 30px;
         }
       }
     }

     .tutorial-nav{
        list-style: none;
         padding-left: 15px;

         &.affix{
           top: 10px;
         }

         &.affix-top{
           top: 10px;
         }
         &.affix-top{
           bottom: 10px;
         }

         li{
           &:last-of-type{
             padding-top: 15px;
             a{
               color: rgb(200, 200, 200);
             }
           }

           a{
             color: white;
             font-weight: bold;
           }
           ul{
             list-style: none;
             padding-left:10px;
             li{

               &:last-of-type{
                 padding-top: 0px;
                 a{
                   color: white;
                 }
               }

               a{
                 font-weight: normal;
               }

            }
           }

       }


     }

   }
 }
