/**
 |---------------------------------
 | Thumbnails
 |---------------------------------
 |
 | Description
 |
 | @author Felipe Tadeo
 */

 .thumbnail{
   margin-bottom: 0px;

   svg{
     width: auto;
     display: block;
     max-width: 90% !important;
     height: auto;
     max-height: 100% !important;
     margin: auto;
     position: relative;
     padding-top: 0px;
     padding-bottom: $value_spacing-padding;
   }
 }
