<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Super <span>OxyFlush</span></h1>

                    <div class="thumbnail">
                        <img src="super_oxyflush.png" alt="Super Oxy Flush" />
                    </div>

                    <p class="alert alert-info">
                        120 caps 800 mg
                    </p>


                    <h3>$49.99</h3>
                    <h4>2 for $45.99 each</h4>
                    <h4>3 or more for $39.99 each</h4>
                    



                    <div id="form_body_wrapper" data-partial data-partial-name="component_form-body" data-partial-values>
                      "route_redirectLink" : "superoxyflush"

                      "inputs_hidden":
                        "describe" : "HSSOXFL120",
                        "price" : "69.95",
                        "discStr" : "1,12,69.95",
                        "id" : "Super OxyFlush 700 mg 120 caps"
                    </div>

                        <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer"></div>





                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->

                <h3 class="text-center text-success">
                  Super OxyFlush <br />
                  The Most Advanced<br />
                  And Potent Oxygen Supplement of its Kind
                </h3>

                <p>
                    Move up to the Real Deal of Active Oxygen and Ozone Power!
                </p>
                <p>
                    The FEELING is AMAZING! - - Perfectly formulated to be absolutely the best home supplement for colon and body cleansing with advanced cell detoxification properties.
                </p>
                <p>
                    The most important thing I can tell you is that if your preferred choice of colon cleanser does not have lots and lots of ACTIVE oxygen and ozone in it, then you still do not yet understand the amazing benefits available to you with the cleansing action
                    of active oxygen! Less expensive cleansers without any (or just a little bit of) oxygen are no bargain.
                </p>
                <p>
                    <a class="cursor-help" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Like our bloodstream uses iron, plants use a special Magnesium in Nature's Chlorophyll to carry oxygen. Super OxyFlush is modeled after Nature's wisdom, which uses Magnesium based oxides and special proprietary ozonides to store and release oxygen and active oxygen throughout the digestive system, through the intestines, and beyond, all the way through to the colon. Same way a plant moves Oxygen around for delivery. This enables the body to have enough oxygen to flush away any accumulated toxins and mucous plugging up the cellular membranes and elimination systems. You can regulate the harmless powerful cleansing action by varying the amount you take. Super OxyFlush is not like other common old-fashioned chemical or herbal abrasives, salts, or irritating colon cleansers. A special form of natural Magnesium is the carrier, but it's the body that uses the active oxygen - and the oxygen it delivers - to do all the natural cleansing work.">How does Super OxyFlush work?</a>
                </p>
                <p>
                    Super OxyFlush in <span data-partial data-partial-name="widget_veggie-capsules"></span>  why is this so important?
                </p>
                <p>
                    Can also be used as a simple stool softener, just take less!
                </p>
                <p>
                    Combine Super Oxyflush, and OxyLift for a simple, powerful, and an amazing wellness program.
                </p>
                <p class="bg-warning">
                    FREE First Class Shipping Available
                </p>
                <!-- End Product Description -->
                <!-- Populate with shipping info -->
                <div id="shipping_wrapper" data-partial data-partial-name="widget_shipping"></div>

                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "superoxyflush"
                </div>

            </div>



        </div>


    </div>
</div>
<script>
    $(function() {

        // Enable popups
        $('[data-toggle="popover"]').popover();

        initPage();

    })
</script>
