<div class="panel panel-product">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">

                <!-- Start Left-Side of product presentation -->

                <div class="product_stage">
                    <h1>Oxygen<br /><span>Therapy</span></h1>

                    <div class="thumbnail">
                        <img src="/HealthLibrary/floodbook.jpg" alt="Oxygen Therapy" />
                    </div>
                    <h3>$23.95</h3>
                    <h4>Flood Your Body With Oxygen</h4>

                    <form class="form-inline" method=post action="http://www.asecurecart.net/server/cart.aspx/healthsprings">

                        <input type="hidden" name="ReturnLink" VALUE="http://www.healthsprings.net/HealthLibrary/Library.htm">
                        <input type="hidden" name="Weight" VALUE=".00">
                        <input type="hidden" name="DiscStr" value="1,1,23.95">
                        <input type="hidden" name="Describe" VALUE="HSFYBO">
                        <input type="hidden" name="ID" VALUE="Flood Your Body With Oxygen">

                        <div class="input-group">
                            <div class="input-group-addon">Qty</div>
                            <input type="text" class="form-control" name="Qty" size=3 value="">
                        </div>
                        <input type="submit" VALUE="Add to Cart" class="btn btn-primary">
                    </form>
                    <hr />
                    <div id="form_footer_wrapper" data-partial data-partial-name="component_form-footer"></div>


                </div>

                <!-- End left-side of product presentation -->
            </div>
            <div class="col-md-8">
                <!-- Start product description -->
                <h1> Flood Your Body With Oxygen</h1>
                <h3>By Ed McCabe "Mr. Oxygen"</h3>

                <p>
                    Ed McCabe's 1988 bestseller Oxygen Therapies, A New Way of Approaching Disease sold over 250,000 copies by word of mouth and without a major publisher! He has also appeared on over 1,500 TV, radio, and lecture platforms. The people want what he has to
                    say! Now, after 14 more years of intensive international researching, visiting clinics, lecturing to huge crowds, and interviewing thousands of successful oxy-therapy users, Mr. Oxygen , wrote it all down for you and announces his
                    brand new project, the best Oxygen Therapy book in history, Flood Your Body with Oxygen .
                </p>
                <p>
                    This book is the layman's bible for Oxygen and Ozone Therapies. This belongs on everyone's reference shelf.
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=OSof6fZTUK8" target="_blank">Video Introduction to" Flood Your Body With Oxygen"</a>
                </p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/OSof6fZTUK8" frameborder="0" allowfullscreen></iframe>
                </div>
                <div data-partial data-partial-name="widget_facebook-comments" data-partial-values>
                  "route_pageurl" : "healthlibrary"
                </div>
                <!-- End Product Description -->

            </div>



        </div>


    </div>
</div>
<script>
    $(function() {

        // Enable popups
        $('[data-toggle="popover"]').popover();
        initPage();
    })
</script>
